set_location IN_MUX_bfv_13_2_0_ 13 2 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_9_9_0_ 9 9 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_9_10_0_ 9 10 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_16_0_ 1 16 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_17_0_ 1 17 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_18_0_ 1 18 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_13_7_0_ 13 7 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_13_8_0_ 13 8 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_6_9_0_ 6 9 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_6_10_0_ 6 10 0 #ICE_CARRY_IN_MUX
set_location CONSTANT_ONE_LUT4 10 21 2 #SB_LUT4
set_location ALU.madd_cry_6_THRU_LUT4_0 9 9 7 #SB_LUT4
set_location ALU.madd_cry_5_THRU_LUT4_0 9 9 6 #SB_LUT4
set_location testClock_RNIAQVB_testClock_REP_LUT4_0 4 1 5 #SB_LUT4
set_location TXbuffer_7_THRU_LUT4_0 10 5 7 #SB_LUT4
set_location TXbuffer_6_THRU_LUT4_0 10 5 6 #SB_LUT4
set_location TXbuffer_5_THRU_LUT4_0 14 7 5 #SB_LUT4
set_location TXbuffer_4_THRU_LUT4_0 10 5 4 #SB_LUT4
set_location TXbuffer_3_THRU_LUT4_0 10 5 3 #SB_LUT4
set_location TXbuffer_2_THRU_LUT4_0 10 5 2 #SB_LUT4
set_location TXbuffer_1_THRU_LUT4_0 14 7 7 #SB_LUT4
set_location TXbuffer_0_THRU_LUT4_0 10 5 0 #SB_LUT4
set_location FTDI.RXbuffer_7_THRU_LUT4_0 1 4 7 #SB_LUT4
set_location FTDI.RXbuffer_6_THRU_LUT4_0 1 4 6 #SB_LUT4
set_location FTDI.RXbuffer_5_THRU_LUT4_0 1 4 5 #SB_LUT4
set_location FTDI.RXbuffer_4_THRU_LUT4_0 1 2 7 #SB_LUT4
set_location FTDI.RXbuffer_3_THRU_LUT4_0 1 2 4 #SB_LUT4
set_location FTDI.RXbuffer_2_THRU_LUT4_0 1 4 2 #SB_LUT4
set_location FTDI.RXbuffer_1_THRU_LUT4_0 1 4 1 #SB_LUT4
set_location FTDI.RXbuffer_0_THRU_LUT4_0 1 4 0 #SB_LUT4
set_location CONTROL.results_e_0_2_THRU_LUT4_0 3 2 2 #SB_LUT4
set_location CONTROL.results_e_0_1_THRU_LUT4_0 3 2 1 #SB_LUT4
set_location CONTROL.results_e_0_0_THRU_LUT4_0 2 1 0 #SB_LUT4
set_location CONTROL.operand1_fast_e_2_THRU_LUT4_0 9 15 3 #SB_LUT4
set_location CONTROL.operand1_fast_e_1_THRU_LUT4_0 6 15 5 #SB_LUT4
set_location CONTROL.operand1_e_0_2_THRU_LUT4_0 9 11 2 #SB_LUT4
set_location CONTROL.operand1_e_0_1_THRU_LUT4_0 9 12 6 #SB_LUT4
set_location CONTROL.operand1_e_0_0_THRU_LUT4_0 9 15 6 #SB_LUT4
set_location CONTROL.operand1_2_rep2_e_THRU_LUT4_0 9 12 1 #SB_LUT4
set_location CONTROL.operand1_2_rep1_e_THRU_LUT4_0 7 12 5 #SB_LUT4
set_location CONTROL.operand1_1_rep2_e_THRU_LUT4_0 6 15 2 #SB_LUT4
set_location CONTROL.operand1_1_rep1_e_THRU_LUT4_0 9 12 3 #SB_LUT4
set_location ALU.un9_addsub_cry_8_c_RNIKEI5V5_ALU.g_9_REP_LUT4_0 12 10 6 #SB_LUT4
set_location ALU.un9_addsub_cry_8_c_RNIKEI5V5_ALU.f_9_REP_LUT4_0 9 8 6 #SB_LUT4
set_location ALU.un9_addsub_cry_8_c_RNIKEI5V5_ALU.e_9_REP_LUT4_0 12 7 0 #SB_LUT4
set_location ALU.un9_addsub_cry_8_c_RNIKEI5V5_ALU.d_9_REP_LUT4_0 10 9 6 #SB_LUT4
set_location ALU.un9_addsub_cry_8_c_RNIKEI5V5_ALU.c_9_REP_LUT4_0 11 10 7 #SB_LUT4
set_location ALU.un9_addsub_cry_8_c_RNIKEI5V5_ALU.b_9_REP_LUT4_0 10 7 1 #SB_LUT4
set_location ALU.un9_addsub_cry_8_c_RNIKEI5V5_ALU.a_9_REP_LUT4_0 11 7 7 #SB_LUT4
set_location ALU.un9_addsub_cry_7_c_RNIBA6N632_ALU.g_8_REP_LUT4_0 2 3 0 #SB_LUT4
set_location ALU.un9_addsub_cry_7_c_RNIBA6N632_ALU.f_8_REP_LUT4_0 1 5 0 #SB_LUT4
set_location ALU.un9_addsub_cry_7_c_RNIBA6N632_ALU.e_8_REP_LUT4_0 10 12 5 #SB_LUT4
set_location ALU.un9_addsub_cry_7_c_RNIBA6N632_ALU.d_8_REP_LUT4_0 9 1 0 #SB_LUT4
set_location ALU.un9_addsub_cry_7_c_RNIBA6N632_ALU.c_8_REP_LUT4_0 10 1 0 #SB_LUT4
set_location ALU.un9_addsub_cry_7_c_RNIBA6N632_ALU.b_8_REP_LUT4_0 14 12 5 #SB_LUT4
set_location ALU.un9_addsub_cry_7_c_RNIBA6N632_ALU.a_8_REP_LUT4_0 11 7 0 #SB_LUT4
set_location ALU.un9_addsub_cry_6_c_RNIQELCS81_ALU.g_7_REP_LUT4_0 11 14 7 #SB_LUT4
set_location ALU.un9_addsub_cry_6_c_RNIQELCS81_ALU.f_7_REP_LUT4_0 12 12 7 #SB_LUT4
set_location ALU.un9_addsub_cry_6_c_RNIQELCS81_ALU.e_7_REP_LUT4_0 10 12 4 #SB_LUT4
set_location ALU.un9_addsub_cry_6_c_RNIQELCS81_ALU.d_7_REP_LUT4_0 13 12 7 #SB_LUT4
set_location ALU.un9_addsub_cry_6_c_RNIQELCS81_ALU.c_7_REP_LUT4_0 10 15 7 #SB_LUT4
set_location ALU.un9_addsub_cry_6_c_RNIQELCS81_ALU.b_7_REP_LUT4_0 14 12 4 #SB_LUT4
set_location ALU.un9_addsub_cry_6_c_RNIQELCS81_ALU.a_7_REP_LUT4_0 9 13 7 #SB_LUT4
set_location ALU.un9_addsub_cry_5_c_RNI17ILKR_ALU.g_6_REP_LUT4_0 10 17 5 #SB_LUT4
set_location ALU.un9_addsub_cry_5_c_RNI17ILKR_ALU.f_6_REP_LUT4_0 12 12 6 #SB_LUT4
set_location ALU.un9_addsub_cry_5_c_RNI17ILKR_ALU.e_6_REP_LUT4_0 10 12 3 #SB_LUT4
set_location ALU.un9_addsub_cry_5_c_RNI17ILKR_ALU.d_6_REP_LUT4_0 13 12 6 #SB_LUT4
set_location ALU.un9_addsub_cry_5_c_RNI17ILKR_ALU.c_6_REP_LUT4_0 10 15 6 #SB_LUT4
set_location ALU.un9_addsub_cry_5_c_RNI17ILKR_ALU.b_6_REP_LUT4_0 14 12 3 #SB_LUT4
set_location ALU.un9_addsub_cry_5_c_RNI17ILKR_ALU.a_6_REP_LUT4_0 9 13 6 #SB_LUT4
set_location ALU.un9_addsub_cry_4_c_RNIPN95TF_ALU.g_5_REP_LUT4_0 11 14 5 #SB_LUT4
set_location ALU.un9_addsub_cry_4_c_RNIPN95TF_ALU.f_5_REP_LUT4_0 12 12 5 #SB_LUT4
set_location ALU.un9_addsub_cry_4_c_RNIPN95TF_ALU.e_5_REP_LUT4_0 10 14 3 #SB_LUT4
set_location ALU.un9_addsub_cry_4_c_RNIPN95TF_ALU.d_5_REP_LUT4_0 13 12 5 #SB_LUT4
set_location ALU.un9_addsub_cry_4_c_RNIPN95TF_ALU.c_5_REP_LUT4_0 10 15 5 #SB_LUT4
set_location ALU.un9_addsub_cry_4_c_RNIPN95TF_ALU.b_5_REP_LUT4_0 14 12 2 #SB_LUT4
set_location ALU.un9_addsub_cry_4_c_RNIPN95TF_ALU.a_5_REP_LUT4_0 9 13 5 #SB_LUT4
set_location ALU.un9_addsub_cry_3_c_RNI47G5S8_ALU.g_4_REP_LUT4_0 11 14 4 #SB_LUT4
set_location ALU.un9_addsub_cry_3_c_RNI47G5S8_ALU.f_4_REP_LUT4_0 12 12 4 #SB_LUT4
set_location ALU.un9_addsub_cry_3_c_RNI47G5S8_ALU.e_4_REP_LUT4_0 9 14 1 #SB_LUT4
set_location ALU.un9_addsub_cry_3_c_RNI47G5S8_ALU.d_4_REP_LUT4_0 10 16 7 #SB_LUT4
set_location ALU.un9_addsub_cry_3_c_RNI47G5S8_ALU.c_4_REP_LUT4_0 10 15 4 #SB_LUT4
set_location ALU.un9_addsub_cry_3_c_RNI47G5S8_ALU.b_4_REP_LUT4_0 14 12 1 #SB_LUT4
set_location ALU.un9_addsub_cry_3_c_RNI47G5S8_ALU.a_4_REP_LUT4_0 9 13 4 #SB_LUT4
set_location ALU.un9_addsub_cry_2_c_RNIE78OE6_ALU.g_3_REP_LUT4_0 11 14 3 #SB_LUT4
set_location ALU.un9_addsub_cry_2_c_RNIE78OE6_ALU.f_3_REP_LUT4_0 12 12 3 #SB_LUT4
set_location ALU.un9_addsub_cry_2_c_RNIE78OE6_ALU.e_3_REP_LUT4_0 10 12 2 #SB_LUT4
set_location ALU.un9_addsub_cry_2_c_RNIE78OE6_ALU.d_3_REP_LUT4_0 13 12 3 #SB_LUT4
set_location ALU.un9_addsub_cry_2_c_RNIE78OE6_ALU.c_3_REP_LUT4_0 10 15 3 #SB_LUT4
set_location ALU.un9_addsub_cry_2_c_RNIE78OE6_ALU.b_3_REP_LUT4_0 14 12 0 #SB_LUT4
set_location ALU.un9_addsub_cry_2_c_RNIE78OE6_ALU.a_3_REP_LUT4_0 13 15 3 #SB_LUT4
set_location ALU.un9_addsub_cry_1_c_RNIIS1NM4_ALU.g_2_REP_LUT4_0 11 14 2 #SB_LUT4
set_location ALU.un9_addsub_cry_1_c_RNIIS1NM4_ALU.f_2_REP_LUT4_0 12 12 2 #SB_LUT4
set_location ALU.un9_addsub_cry_1_c_RNIIS1NM4_ALU.e_2_REP_LUT4_0 10 12 1 #SB_LUT4
set_location ALU.un9_addsub_cry_1_c_RNIIS1NM4_ALU.d_2_REP_LUT4_0 13 12 2 #SB_LUT4
set_location ALU.un9_addsub_cry_1_c_RNIIS1NM4_ALU.c_2_REP_LUT4_0 10 15 2 #SB_LUT4
set_location ALU.un9_addsub_cry_1_c_RNIIS1NM4_ALU.b_2_REP_LUT4_0 10 11 6 #SB_LUT4
set_location ALU.un9_addsub_cry_1_c_RNIIS1NM4_ALU.a_2_REP_LUT4_0 9 13 2 #SB_LUT4
set_location ALU.un9_addsub_cry_14_c_RNIH4JOS63_ALU.g_15_REP_LUT4_0 12 10 5 #SB_LUT4
set_location ALU.un9_addsub_cry_14_c_RNIH4JOS63_ALU.f_15_REP_LUT4_0 9 8 4 #SB_LUT4
set_location ALU.un9_addsub_cry_14_c_RNIH4JOS63_ALU.e_15_REP_LUT4_0 10 10 5 #SB_LUT4
set_location ALU.un9_addsub_cry_14_c_RNIH4JOS63_ALU.d_15_REP_LUT4_0 10 9 4 #SB_LUT4
set_location ALU.un9_addsub_cry_14_c_RNIH4JOS63_ALU.c_15_REP_LUT4_0 11 10 6 #SB_LUT4
set_location ALU.un9_addsub_cry_14_c_RNIH4JOS63_ALU.b_15_REP_LUT4_0 10 11 1 #SB_LUT4
set_location ALU.un9_addsub_cry_14_c_RNIH4JOS63_ALU.a_15_REP_LUT4_0 11 12 2 #SB_LUT4
set_location ALU.un9_addsub_cry_0_c_RNI6GFHR3_ALU.g_1_REP_LUT4_0 11 14 1 #SB_LUT4
set_location ALU.un9_addsub_cry_0_c_RNI6GFHR3_ALU.f_1_REP_LUT4_0 12 12 1 #SB_LUT4
set_location ALU.un9_addsub_cry_0_c_RNI6GFHR3_ALU.e_1_REP_LUT4_0 9 14 3 #SB_LUT4
set_location ALU.un9_addsub_cry_0_c_RNI6GFHR3_ALU.d_1_REP_LUT4_0 12 14 7 #SB_LUT4
set_location ALU.un9_addsub_cry_0_c_RNI6GFHR3_ALU.c_1_REP_LUT4_0 10 15 1 #SB_LUT4
set_location ALU.un9_addsub_cry_0_c_RNI6GFHR3_ALU.b_1_REP_LUT4_0 12 13 7 #SB_LUT4
set_location ALU.un9_addsub_cry_0_c_RNI6GFHR3_ALU.a_1_REP_LUT4_0 9 13 1 #SB_LUT4
set_location ALU.m637_CONTROL.aluReadBus_rep1_e_REP_LUT4_0 5 7 1 #SB_LUT4
set_location ALU.m637_CONTROL.aluReadBus_fast_e_REP_LUT4_0 5 7 2 #SB_LUT4
set_location ALU.m637_CONTROL.aluReadBus_e_0_REP_LUT4_0 2 5 2 #SB_LUT4
set_location ALU.d_RNIBQ2VB3_0_ALU.g_0_REP_LUT4_0 11 14 0 #SB_LUT4
set_location ALU.d_RNIBQ2VB3_0_ALU.f_0_REP_LUT4_0 12 12 0 #SB_LUT4
set_location ALU.d_RNIBQ2VB3_0_ALU.e_0_REP_LUT4_0 10 12 0 #SB_LUT4
set_location ALU.d_RNIBQ2VB3_0_ALU.d_0_REP_LUT4_0 13 12 0 #SB_LUT4
set_location ALU.d_RNIBQ2VB3_0_ALU.c_0_REP_LUT4_0 10 15 0 #SB_LUT4
set_location ALU.d_RNIBQ2VB3_0_ALU.b_0_REP_LUT4_0 12 13 2 #SB_LUT4
set_location ALU.d_RNIBQ2VB3_0_ALU.a_0_REP_LUT4_0 9 13 0 #SB_LUT4
set_location ALU.a_0_14_ALU.g_14_REP_LUT4_0 12 10 4 #SB_LUT4
set_location ALU.a_0_14_ALU.f_14_REP_LUT4_0 9 8 3 #SB_LUT4
set_location ALU.a_0_14_ALU.e_14_REP_LUT4_0 10 10 4 #SB_LUT4
set_location ALU.a_0_14_ALU.d_14_REP_LUT4_0 10 9 3 #SB_LUT4
set_location ALU.a_0_14_ALU.c_14_REP_LUT4_0 11 10 4 #SB_LUT4
set_location ALU.a_0_14_ALU.b_14_REP_LUT4_0 10 7 6 #SB_LUT4
set_location ALU.a_0_14_ALU.a_14_REP_LUT4_0 11 12 1 #SB_LUT4
set_location ALU.a_0_13_ALU.g_13_REP_LUT4_0 12 10 3 #SB_LUT4
set_location ALU.a_0_13_ALU.f_13_REP_LUT4_0 9 8 5 #SB_LUT4
set_location ALU.a_0_13_ALU.e_13_REP_LUT4_0 10 10 3 #SB_LUT4
set_location ALU.a_0_13_ALU.d_13_REP_LUT4_0 10 9 5 #SB_LUT4
set_location ALU.a_0_13_ALU.c_13_REP_LUT4_0 11 10 3 #SB_LUT4
set_location ALU.a_0_13_ALU.b_13_REP_LUT4_0 10 11 4 #SB_LUT4
set_location ALU.a_0_13_ALU.a_13_REP_LUT4_0 11 12 0 #SB_LUT4
set_location ALU.a_0_12_ALU.g_12_REP_LUT4_0 12 10 2 #SB_LUT4
set_location ALU.a_0_12_ALU.f_12_REP_LUT4_0 9 8 2 #SB_LUT4
set_location ALU.a_0_12_ALU.e_12_REP_LUT4_0 10 10 2 #SB_LUT4
set_location ALU.a_0_12_ALU.d_12_REP_LUT4_0 10 9 2 #SB_LUT4
set_location ALU.a_0_12_ALU.c_12_REP_LUT4_0 11 10 2 #SB_LUT4
set_location ALU.a_0_12_ALU.b_12_REP_LUT4_0 10 7 4 #SB_LUT4
set_location ALU.a_0_12_ALU.a_12_REP_LUT4_0 10 6 4 #SB_LUT4
set_location ALU.a_0_11_ALU.g_11_REP_LUT4_0 12 10 1 #SB_LUT4
set_location ALU.a_0_11_ALU.f_11_REP_LUT4_0 9 8 1 #SB_LUT4
set_location ALU.a_0_11_ALU.e_11_REP_LUT4_0 10 10 1 #SB_LUT4
set_location ALU.a_0_11_ALU.d_11_REP_LUT4_0 10 9 1 #SB_LUT4
set_location ALU.a_0_11_ALU.c_11_REP_LUT4_0 11 10 1 #SB_LUT4
set_location ALU.a_0_11_ALU.b_11_REP_LUT4_0 10 7 3 #SB_LUT4
set_location ALU.a_0_11_ALU.a_11_REP_LUT4_0 12 6 6 #SB_LUT4
set_location ALU.a_0_10_ALU.g_10_REP_LUT4_0 12 10 0 #SB_LUT4
set_location ALU.a_0_10_ALU.f_10_REP_LUT4_0 9 8 0 #SB_LUT4
set_location ALU.a_0_10_ALU.e_10_REP_LUT4_0 10 10 0 #SB_LUT4
set_location ALU.a_0_10_ALU.d_10_REP_LUT4_0 10 9 0 #SB_LUT4
set_location ALU.a_0_10_ALU.c_10_REP_LUT4_0 11 10 0 #SB_LUT4
set_location ALU.a_0_10_ALU.b_10_REP_LUT4_0 10 11 0 #SB_LUT4
set_location ALU.a_0_10_ALU.a_10_REP_LUT4_0 7 8 6 #SB_LUT4
set_location CONTROL.aluParams[3] 3 3 1 #SB_DFF
set_location ALU.un2_addsub_cry_2_c_RNI5IV5F 6 9 3 #SB_LUT4
set_location ALU.m10 5 6 4 #SB_LUT4
set_location ALU.f[4] 12 12 4 #SB_DFFE
set_location ALU.e[6] 10 12 3 #SB_DFFE
set_location ALU.i18_mux_i 1 6 1 #SB_LUT4
set_location ALU.a[6] 9 13 6 #SB_DFFE
set_location ALU.c_RNIO3KRQ1[15] 7 3 2 #SB_LUT4
set_location ALU.d_RNILPJD8[9] 5 5 5 #SB_LUT4
set_location ALU.d_RNIGFQD6[1] 7 6 4 #SB_LUT4
set_location ALU.mult.madd_170 2 11 3 #SB_LUT4
set_location ALU.d_RNI4HG101[7] 7 2 3 #SB_LUT4
set_location ALU.c_RNI2CSHH[13] 7 5 0 #SB_LUT4
set_location clkdiv[23] 1 18 7 #SB_DFF
set_location FTDI.baudAcc[0] 10 2 6 #SB_DFFN
set_location ALU.mult.madd_cry_8_c 9 10 0 #SB_CARRY
set_location ALU.mult.madd_cry_12_c 9 10 4 #SB_CARRY
set_location clkdiv_cry_c[7] 1 16 7 #SB_CARRY
set_location ALU.mult.madd_58 4 12 4 #SB_LUT4
set_location ALU.mult.madd_203 5 10 7 #SB_LUT4
set_location ALU.g[9] 12 10 6 #SB_DFFE
set_location ALU.d_RNINEO9E[1] 7 2 5 #SB_LUT4
set_location ALU.un2_addsub_cry_1_c 6 9 1 #SB_CARRY
set_location ALU.f_RNIO3T31[4] 9 14 7 #SB_LUT4
set_location ALU.mult.madd_axb_0 12 13 5 #SB_LUT4
set_location ALU.e_RNITA7N[0] 6 12 0 #SB_LUT4
set_location testWord[18] 2 2 0 #SB_DFFE
set_location ALU.d_RNIURRD4[0] 5 3 6 #SB_LUT4
set_location ALU.d_RNINEO9E_0[1] 7 4 0 #SB_LUT4
set_location ALU.a_RNIULHV4[10] 6 11 3 #SB_LUT4
set_location clkdiv_RNO[8] 1 17 0 #SB_LUT4
set_location clkdiv[5] 1 16 5 #SB_DFF
set_location ALU.mult.madd_138 2 7 4 #SB_LUT4
set_location ALU.d_RNIP0RR6[3] 5 13 7 #SB_LUT4
set_location ALU.m252 3 5 0 #SB_LUT4
set_location ALU.d_RNIHA1E3[0] 6 12 4 #SB_LUT4
set_location ALU.mult.madd_149 5 16 2 #SB_LUT4
set_location ALU.e[14] 10 10 4 #SB_DFFE
set_location ALU.c_RNIVSRV1[10] 4 11 2 #SB_LUT4
set_location ALU.c_RNIGVM161[15] 10 3 1 #SB_LUT4
set_location ALU.c_RNIEUU85[10] 5 10 2 #SB_LUT4
set_location FTDI.TXshift[5] 12 5 1 #SB_DFFNE
set_location ALU.un9_addsub_cry_2_c_RNIA3LG7 13 7 3 #SB_LUT4
set_location ALU.mult.madd_23 4 13 5 #SB_LUT4
set_location CONTROL.aluOperation_RNO[5] 12 9 1 #SB_LUT4
set_location ALU.un9_addsub_cry_3_c_RNI4L7RO 13 10 4 #SB_LUT4
set_location ALU.mult.madd_42_0 3 12 5 #SB_LUT4
set_location ALU.d_RNI4K3G5[12] 6 6 6 #SB_LUT4
set_location ALU.d_RNI0B2B8_0[7] 4 8 4 #SB_LUT4
set_location ALU.mult.madd_376 3 6 1 #SB_LUT4
set_location ALU.mult.madd_289 2 10 2 #SB_LUT4
set_location ALU.m234 4 7 2 #SB_LUT4
set_location ALU.c_RNI3O3A42[13] 7 5 3 #SB_LUT4
set_location CONTROL.operand2_2_rep1 11 13 0 #SB_DFF
set_location ALU.i86_mux_5_i 1 6 4 #SB_LUT4
set_location ALU.h[0] 6 13 1 #SB_DFFE
set_location ALU.d_RNIGF4I7[8] 2 15 2 #SB_LUT4
set_location ALU.d_RNIFDNC8[7] 3 14 0 #SB_LUT4
set_location ALU.un9_addsub_cry_3_c_RNI47G5S8 12 16 3 #SB_LUT4
set_location ALU.mult.g0_17 1 12 0 #SB_LUT4
set_location ALU.d_RNILIL37[6] 3 12 2 #SB_LUT4
set_location ALU.c_RNIK6K78[14] 5 4 2 #SB_LUT4
set_location FTDI.RXbuffer[5] 1 4 5 #SB_DFFNE
set_location ALU.mult.madd_cry_1_ma 3 13 6 #SB_LUT4
set_location ALU.d_RNI1DA1A[10] 1 11 0 #SB_LUT4
set_location ALU.c_RNIN1J811[11] 5 2 2 #SB_LUT4
set_location ALU.c_RNIID898[11] 9 4 7 #SB_LUT4
set_location ALU.mult.madd_163 1 12 2 #SB_LUT4
set_location ALU.m60 7 1 6 #SB_LUT4
set_location ALU.mult.g2_0_0 1 8 2 #SB_LUT4
set_location ALU.b_RNIKNSD1_0[13] 10 8 2 #SB_LUT4
set_location clkdiv_RNO[12] 1 17 4 #SB_LUT4
set_location FTDI.un3_TX_cry_3_c_inv 13 2 1 #SB_LUT4
set_location ALU.f[11] 9 8 1 #SB_DFFE
set_location ALU.i15_mux_i 1 7 0 #SB_LUT4
set_location ALU.mult.madd_cry_2_c 9 9 2 #SB_CARRY
set_location ALU.mult.madd_329 3 9 2 #SB_LUT4
set_location ALU.m286_am 7 2 6 #SB_LUT4
set_location ALU.m210 5 7 6 #SB_LUT4
set_location ALU.c_RNIA7OEE[11] 9 5 6 #SB_LUT4
set_location clkdiv_cry_c[9] 1 17 1 #SB_CARRY
set_location ALU.mult.madd_52 4 14 7 #SB_LUT4
set_location ALU.mult.madd_391 4 8 3 #SB_LUT4
set_location ALU.un2_addsub_cry_1_c_RNI966GE 6 9 2 #SB_LUT4
set_location ALU.d_RNI40CO3[8] 5 9 4 #SB_LUT4
set_location ALU.d_RNI0PL97[8] 3 9 1 #SB_LUT4
set_location ALU.b[0] 12 13 2 #SB_DFFE
set_location clkdiv[11] 1 17 3 #SB_DFF
set_location ALU.m168 3 6 3 #SB_LUT4
set_location testWord[12] 12 4 4 #SB_DFFE
set_location FTDI.TXstate_RNINQ101[0] 11 3 0 #SB_LUT4
set_location CONTROL.operand1_1_rep2_e 6 15 2 #SB_DFFE
set_location TXbuffer[1] 14 7 7 #SB_DFFE
set_location ALU.mult.madd_484_21 3 8 0 #SB_LUT4
set_location ALU.mult.madd_30 4 14 6 #SB_LUT4
set_location ALU.m664 3 2 7 #SB_LUT4
set_location ALU.d_RNINMLB7[5] 3 12 7 #SB_LUT4
set_location FTDI.baudAcc_RNO[2] 9 2 1 #SB_LUT4
set_location ALU.d_RNITQOAQ2[0] 6 2 3 #SB_LUT4
set_location ALU.d_RNI64QK7[4] 5 13 4 #SB_LUT4
set_location ALU.b_RNIKNSD1[13] 10 8 7 #SB_LUT4
set_location ALU.mult.madd_143 2 15 7 #SB_LUT4
set_location ALU.d_RNIIIPM081[7] 13 11 4 #SB_LUT4
set_location FTDI.un3_TX_cry_2_c 13 2 0 #SB_CARRY
set_location FTDI.TXshift[3] 12 5 3 #SB_DFFNE
set_location ALU.mult.madd_25 3 11 0 #SB_LUT4
set_location ALU.mult.g0_4 1 9 1 #SB_LUT4
set_location ALU.i6_mux_0_i 2 2 4 #SB_LUT4
set_location ALU.d[10] 10 9 0 #SB_DFFE
set_location ALU.c_RNIAE1U4[11] 5 14 0 #SB_LUT4
set_location ALU.b_RNIMPSD1[14] 10 7 7 #SB_LUT4
set_location ALU.d[0] 13 12 0 #SB_DFFE
set_location ALU.c_RNI1OCN4[15] 11 4 0 #SB_LUT4
set_location FTDI.TXstate[2] 11 2 5 #SB_DFFN
set_location ALU.un9_addsub_cry_14_c_RNI1G6N93 12 8 4 #SB_LUT4
set_location ALU.g0_2_1 6 11 1 #SB_LUT4
set_location ALU.d_RNIN2L24[8] 2 6 2 #SB_LUT4
set_location ALU.d_RNI95MLP[3] 13 9 5 #SB_LUT4
set_location ALU.un9_addsub_cry_12_c_RNIBB5Q9 13 8 5 #SB_LUT4
set_location ALU.un9_addsub_cry_11_c_RNI10BQK 13 8 4 #SB_LUT4
set_location ALU.mult.madd_cry_5_s 9 9 5 #SB_LUT4
set_location ALU.d_RNIG5BH6[3] 7 7 0 #SB_LUT4
set_location ALU.d_RNIBRVD8[10] 5 10 6 #SB_LUT4
set_location ALU.d_RNIBRAVJ2[3] 13 9 3 #SB_LUT4
set_location FTDI.TXstate_RNO_0[2] 11 2 4 #SB_LUT4
set_location ALU.un2_addsub_cry_11_c 6 10 3 #SB_CARRY
set_location ALU.d_RNIL01TD1[6] 4 3 7 #SB_LUT4
set_location ALU.mult.g0_11 1 13 5 #SB_LUT4
set_location ALU.d_RNIAMNM3[5] 2 12 6 #SB_LUT4
set_location ALU.mult.madd_153 5 16 7 #SB_LUT4
set_location ALU.h[11] 11 8 4 #SB_DFFE
set_location ALU.d_RNI7U079[10] 4 11 5 #SB_LUT4
set_location ALU.d_RNISQNAA[5] 10 4 4 #SB_LUT4
set_location ALU.un9_addsub_cry_7_c_RNIU7F18 13 8 0 #SB_LUT4
set_location ALU.i84_mux_4_i 3 6 7 #SB_LUT4
set_location ALU.m634 2 5 7 #SB_LUT4
set_location ALU.d_RNISQIQP2[1] 7 4 7 #SB_LUT4
set_location ALU.d_RNIIR98G[7] 5 5 4 #SB_LUT4
set_location clkdiv_cry_c[12] 1 17 4 #SB_CARRY
set_location ALU.d_RNI1CMM3[3] 7 14 4 #SB_LUT4
set_location ALU.d_RNIF6179[10] 4 11 4 #SB_LUT4
set_location ALU.mult.madd_axb_10_l_ofx 1 15 7 #SB_LUT4
set_location ALU.m216 1 10 6 #SB_LUT4
set_location CONTROL.aluOperation_cnv[0] 2 5 5 #SB_LUT4
set_location ALU.d_RNIF74M7[3] 1 13 1 #SB_LUT4
set_location ALU.mult.g0_21 2 11 0 #SB_LUT4
set_location ALU.g[4] 11 14 4 #SB_DFFE
set_location clkdiv[17] 1 18 1 #SB_DFF
set_location CONTROL.busState_1_e_0[2] 5 7 4 #SB_DFFE
set_location ALU.un9_addsub_cry_0_c_RNIEMTLK 13 10 1 #SB_LUT4
set_location testWord[14] 3 6 7 #SB_DFFE
set_location FTDI.TXshift_RNO[6] 12 5 6 #SB_LUT4
set_location CONTROL.aluParams_RNO[3] 3 3 1 #SB_LUT4
set_location ALU.mult.madd_484_11 4 7 4 #SB_LUT4
set_location ALU.f_RNIUUJ01[9] 10 7 2 #SB_LUT4
set_location ALU.d_RNII0KR6[6] 3 15 5 #SB_LUT4
set_location ALU.a_15_m5s2 5 1 1 #SB_LUT4
set_location ALU.d_RNI83IG7_0[3] 10 3 3 #SB_LUT4
set_location clkdiv_RNO[3] 1 16 3 #SB_LUT4
set_location CONTROL.operand2_RNO[2] 10 8 5 #SB_LUT4
set_location ALU.mult.madd_133 2 16 3 #SB_LUT4
set_location CONTROL.operand2_1_rep1 10 13 1 #SB_DFF
set_location ALU.mult.madd_5 4 12 2 #SB_LUT4
set_location ALU.mult.madd_218_0 3 13 1 #SB_LUT4
set_location ALU.mult.madd_176_0 3 13 0 #SB_LUT4
set_location ALU.d_RNI0PJ02[12] 4 6 3 #SB_LUT4
set_location ALU.c[7] 10 15 7 #SB_DFFE
set_location ALU.m656 2 2 6 #SB_LUT4
set_location ALU.f_RNIQQJ01[7] 9 12 5 #SB_LUT4
set_location ALU.d_RNIBAHT8[12] 5 8 3 #SB_LUT4
set_location ALU.mult.madd_cry_9_0_s 9 10 1 #SB_LUT4
set_location ALU.un9_addsub_cry_6_c_RNIUKMKR 7 15 6 #SB_LUT4
set_location ALU.mult.madd_47 3 11 2 #SB_LUT4
set_location ALU.mult.madd_285 2 10 5 #SB_LUT4
set_location ALU.d_RNIC54P6[8] 2 7 3 #SB_LUT4
set_location ALU.d[6] 13 12 6 #SB_DFFE
set_location testState[1] 7 1 6 #SB_DFF
set_location testWord[25] 1 6 3 #SB_DFFE
set_location ALU.d_RNIH1R53[1] 3 5 4 #SB_LUT4
set_location ALU.b_RNIP9BD1[12] 4 6 2 #SB_LUT4
set_location ALU.mult.madd_66 5 15 0 #SB_LUT4
set_location ALU.m286_bm 7 2 7 #SB_LUT4
set_location ALU.i22_mux_i 6 6 0 #SB_LUT4
set_location ALU.e[3] 10 12 2 #SB_DFFE
set_location ALU.d_RNI1GH4V[7] 6 5 7 #SB_LUT4
set_location ALU.mult.madd_159 4 16 4 #SB_LUT4
set_location ALU.d_RNIRCOSL2[9] 10 4 2 #SB_LUT4
set_location ALU.d_RNIKNU29[14] 3 4 0 #SB_LUT4
set_location ALU.c[11] 11 10 1 #SB_DFFE
set_location ALU.b_RNI471O1[10] 7 12 2 #SB_LUT4
set_location ALU.d_RNIV0CK1[7] 4 12 0 #SB_LUT4
set_location ALU.d_RNIAB477[6] 3 5 7 #SB_LUT4
set_location ALU.c_RNIA9V4L[15] 10 3 7 #SB_LUT4
set_location ALU.mult.madd_168 7 11 7 #SB_LUT4
set_location ALU.b_RNITDBD1[14] 4 4 2 #SB_LUT4
set_location ALU.mult.madd_128_0_tz 5 15 3 #SB_LUT4
set_location ALU.mult.madd_484_2 6 8 4 #SB_LUT4
set_location ALU.d_RNIHGJR4[10] 4 11 3 #SB_LUT4
set_location ALU.d_RNICGVRD[3] 7 6 7 #SB_LUT4
set_location ALU.c_cnv[0] 4 2 2 #SB_LUT4
set_location ALU.un9_addsub_cry_3_c_RNI525R7 13 7 4 #SB_LUT4
set_location ALU.d_RNIVM1UL[2] 6 3 7 #SB_LUT4
set_location ALU.c_RNI8LNC7[12] 1 8 6 #SB_LUT4
set_location ALU.m9 2 5 6 #SB_LUT4
set_location ALU.b[12] 10 7 4 #SB_DFFE
set_location clkdiv_cry_c[22] 1 18 6 #SB_CARRY
set_location clkdiv_cry_c[2] 1 16 2 #SB_CARRY
set_location ALU.mult.madd_360 2 13 2 #SB_LUT4
set_location ALU.mult.g0_0_2 1 8 3 #SB_LUT4
set_location ALU.d_RNI6VHRI1[0] 10 6 6 #SB_LUT4
set_location ALU.mult.madd_12_0_tz 6 14 6 #SB_LUT4
set_location testWord[3] 1 10 1 #SB_DFFE
set_location FTDI.TXshift_RNO[0] 12 5 0 #SB_LUT4
set_location ALU.mult.madd_484_17 4 8 1 #SB_LUT4
set_location ALU.mult.g0 2 9 5 #SB_LUT4
set_location ALU.a_15_m2_ns_1[11] 12 6 1 #SB_LUT4
set_location CONTROL.operand1_cnv[0] 3 2 6 #SB_LUT4
set_location ALU.un2_addsub_cry_12_c_RNIUL1GK 6 10 5 #SB_LUT4
set_location ALU.g_RNIQCLL[7] 11 12 5 #SB_LUT4
set_location ALU.e_RNIPKVJ[1] 6 14 3 #SB_LUT4
set_location clkdiv_RNO[5] 1 16 5 #SB_LUT4
set_location FTDI.RXstate[2] 6 1 2 #SB_DFFN
set_location CONTROL.operand1_e_0[0] 9 15 6 #SB_DFFE
set_location ALU.un9_addsub_cry_14_c_RNIH4JOS63 12 8 5 #SB_LUT4
set_location CONTROL.results_cnv[0] 3 3 6 #SB_LUT4
set_location ALU.un9_addsub_cry_5_c 13 7 5 #SB_CARRY
set_location ALU.mult.madd_m3_3 2 10 1 #SB_LUT4
set_location ALU.g[12] 12 10 2 #SB_DFFE
set_location ALU.d_RNIFD4D4[3] 1 10 0 #SB_LUT4
set_location ALU.d_RNICIR67[3] 7 6 0 #SB_LUT4
set_location ALU.d_RNI1RHK1[0] 6 12 3 #SB_LUT4
set_location CONTROL.aluOperation_RNO[0] 3 1 2 #SB_LUT4
set_location ALU.mult.madd_cry_6_c 9 9 6 #SB_CARRY
set_location ALU.f_RNINI7O[6] 7 13 6 #SB_LUT4
set_location ALU.d_RNINPK3M[0] 6 2 2 #SB_LUT4
set_location FTDI.RXstate_RNO[1] 9 2 4 #SB_LUT4
set_location ALU.un9_addsub_cry_6_c 13 7 6 #SB_CARRY
set_location ALU.un2_addsub_cry_10_c_RNIEBKOT 12 6 0 #SB_LUT4
set_location ALU.d_RNIN9HA7[6] 3 7 1 #SB_LUT4
set_location ALU.d_RNIFCMC8[7] 4 16 2 #SB_LUT4
set_location ALU.d_RNI9FOTE[13] 9 5 4 #SB_LUT4
set_location ALU.c_RNIJ949[12] 9 6 3 #SB_LUT4
set_location clkdiv_RNO[20] 1 18 4 #SB_LUT4
set_location ALU.d_RNICCNU3[7] 3 5 6 #SB_LUT4
set_location ALU.d_RNIVR3QA[5] 3 15 1 #SB_LUT4
set_location ALU.d_RNISSLDG1[6] 13 14 1 #SB_LUT4
set_location CONTROL.operand1_2_rep1_e 7 12 5 #SB_DFFE
set_location CONTROL.aluParams[2] 7 3 3 #SB_DFF
set_location ALU.mult.madd_381 3 8 4 #SB_LUT4
set_location ALU.g_RNIT0CO[1] 6 14 0 #SB_LUT4
set_location ALU.f_RNICQEJ[1] 11 12 4 #SB_LUT4
set_location ALU.f[5] 12 12 5 #SB_DFFE
set_location ALU.d_RNIL5C37[5] 3 15 0 #SB_LUT4
set_location ALU.d_RNIFHQSS1[2] 6 3 4 #SB_LUT4
set_location ALU.d_RNI9CMFI[1] 7 10 7 #SB_LUT4
set_location CONTROL.aluParams_e_0[1] 7 2 1 #SB_DFFE
set_location ALU.d_RNIVUE24[0] 6 5 3 #SB_LUT4
set_location ALU.a[1] 9 13 1 #SB_DFFE
set_location ALU.mult.madd_484_4 5 5 6 #SB_LUT4
set_location ALU.m300_ns 3 3 0 #SB_LUT4
set_location ALU.d_RNIRV558[13] 5 8 1 #SB_LUT4
set_location clkdiv_cry_c[19] 1 18 3 #SB_CARRY
set_location FTDI.un3_TX_cry_2_c_inv 12 3 4 #SB_LUT4
set_location clkdiv[22] 1 18 6 #SB_DFF
set_location FTDI.baudAcc[1] 11 3 2 #SB_DFFN
set_location ALU.mult.g0_3_2 2 9 4 #SB_LUT4
set_location clkdiv_cry_c[4] 1 16 4 #SB_CARRY
set_location ALU.un9_addsub_cry_9_c 13 8 1 #SB_CARRY
set_location ALU.un9_addsub_cry_5_c_RNI17ILKR 14 9 5 #SB_LUT4
set_location ALU.mult.madd_59 5 15 6 #SB_LUT4
set_location ALU.g[8] 2 3 0 #SB_DFFE
set_location ALU.d_RNIG4C2T[1] 5 4 7 #SB_LUT4
set_location ALU.c_RNIND49[14] 11 10 5 #SB_LUT4
set_location ALU.un9_addsub_cry_7_c 13 7 7 #SB_CARRY
set_location clkdiv[4] 1 16 4 #SB_DFF
set_location ALU.d_RNIRNNS7[3] 4 7 3 #SB_LUT4
set_location ALU.d_RNID2HKH1[5] 11 3 3 #SB_LUT4
set_location ALU.d_RNI2B0L[9] 7 16 3 #SB_LUT4
set_location FTDI.gap[1] 11 1 5 #SB_DFFN
set_location ALU.un2_addsub_cry_11_c_RNIQ9LMU 10 6 2 #SB_LUT4
set_location ALU.mult.madd_161 1 12 6 #SB_LUT4
set_location ALU.g[14] 12 10 4 #SB_DFFE
set_location ALU.d_RNINL83B[4] 13 14 4 #SB_LUT4
set_location ALU.d_RNIAS7T6[4] 7 11 3 #SB_LUT4
set_location ALU.mult.madd_243 2 14 6 #SB_LUT4
set_location ALU.f_RNIHUEJ[3] 13 13 6 #SB_LUT4
set_location ALU.e[15] 10 10 5 #SB_DFFE
set_location ALU.d_RNIVPQD3[8] 2 7 2 #SB_LUT4
set_location ALU.d_RNIT7NA7[6] 1 10 7 #SB_LUT4
set_location FTDI.TXshift[4] 12 5 4 #SB_DFFNE
set_location ALU.mult.madd_124 1 14 3 #SB_LUT4
set_location ALU.e_RNIPKSL1[2] 10 13 5 #SB_LUT4
set_location ALU.d_RNIR45G7[6] 4 3 4 #SB_LUT4
set_location ALU.d_RNIQQAK1[6] 9 15 1 #SB_LUT4
set_location ALU.d_RNICH0SD[1] 6 4 7 #SB_LUT4
set_location ALU.d_RNI6KCD3[2] 9 11 5 #SB_LUT4
set_location ALU.c_RNI30A98[13] 5 3 2 #SB_LUT4
set_location clkdiv_RNO[14] 1 17 6 #SB_LUT4
set_location FTDI.baudAcc_RNINKH42[2] 11 5 0 #SB_LUT4
set_location ALU.mult.madd_371 5 8 2 #SB_LUT4
set_location ALU.mult.g0_0_0_N_4L5 2 6 5 #SB_LUT4
set_location ALU.mult.g0_0_0_N_3L3 2 5 1 #SB_LUT4
set_location ALU.d_RNID9RV5[0] 6 2 1 #SB_LUT4
set_location CONTROL.operand2_fast[1] 10 13 0 #SB_DFF
set_location ALU.mult.madd_118 3 16 2 #SB_LUT4
set_location ALU.h[1] 11 11 0 #SB_DFFE
set_location ALU.e_RNIURH32[9] 12 7 3 #SB_LUT4
set_location ALU.d_RNII2IF91[9] 4 3 6 #SB_LUT4
set_location ALU.d_RNI698B8[7] 2 14 1 #SB_LUT4
set_location ALU.mult.madd_207 3 10 3 #SB_LUT4
set_location ALU.g_RNIM8LL[5] 10 14 0 #SB_LUT4
set_location ALU.d_RNIM75G5[15] 6 6 4 #SB_LUT4
set_location ALU.c_RNI6KSGG[11] 9 4 3 #SB_LUT4
set_location ALU.b[2] 10 11 6 #SB_DFFE
set_location ALU.mult.madd_387 3 9 3 #SB_LUT4
set_location ALU.mult.g0_16 1 11 6 #SB_LUT4
set_location ALU.d_RNI9M073[5] 6 15 4 #SB_LUT4
set_location ALU.d_RNI65RK7[4] 6 16 0 #SB_LUT4
set_location ALU.c_RNIDIAPG[11] 5 3 1 #SB_LUT4
set_location ALU.mult.madd_335 1 8 5 #SB_LUT4
set_location ALU.d_RNI9GDQS[1] 7 7 7 #SB_LUT4
set_location ALU.a_cnv_0[0] 4 1 2 #SB_LUT4
set_location clkdiv[9] 1 17 1 #SB_DFF
set_location TXbuffer[3] 10 5 3 #SB_DFFE
set_location FTDI.RXbuffer[4] 1 2 7 #SB_DFFNE
set_location ALU.c_RNIURPF4[13] 9 5 1 #SB_LUT4
set_location FTDI.gap[2] 11 1 2 #SB_DFFN
set_location FTDI.baudAcc_RNO[0] 10 2 6 #SB_LUT4
set_location CONTROL.operand1_2_rep2_e 9 12 1 #SB_DFFE
set_location ALU.un2_addsub_cry_9_c_RNIVCOFA 6 10 2 #SB_LUT4
set_location ALU.mult.madd_cry_1_0_c 9 9 1 #SB_CARRY
set_location ALU.d_RNIDHB63[6] 7 13 1 #SB_LUT4
set_location ALU.d_RNI5RLE5[13] 9 5 0 #SB_LUT4
set_location ALU.un2_addsub_cry_12_c 6 10 4 #SB_CARRY
set_location ALU.mult.madd_78_0 3 16 5 #SB_LUT4
set_location ALU.d_RNI9DPVU[6] 10 3 5 #SB_LUT4
set_location ALU.d_RNI6904C[9] 6 7 7 #SB_LUT4
set_location FTDI.TXshift[1] 14 5 5 #SB_DFFNE
set_location ALU.mult.madd_127 1 15 3 #SB_LUT4
set_location ALU.d_RNIC6QK6[5] 5 14 4 #SB_LUT4
set_location ALU.d[12] 10 9 2 #SB_DFFE
set_location ALU.a_RNI1FPGN1[10] 7 8 0 #SB_LUT4
set_location clkdiv_RNO[13] 1 17 5 #SB_LUT4
set_location ALU.mult.madd_270_0 3 10 1 #SB_LUT4
set_location ALU.mult.madd_250_0 3 10 4 #SB_LUT4
set_location ALU.f[10] 9 8 0 #SB_DFFE
set_location ALU.d_RNIE937B[0] 6 3 6 #SB_LUT4
set_location ALU.d_RNI312TB[4] 6 16 1 #SB_LUT4
set_location ALU.c_RNILQ2U4[12] 6 6 2 #SB_LUT4
set_location ALU.mult.madd_372 3 6 5 #SB_LUT4
set_location ALU.mult.madd_238_0 2 11 5 #SB_LUT4
set_location ALU.d_RNI75NNF[6] 6 4 0 #SB_LUT4
set_location ALU.mult.madd_165_0_tz 1 12 1 #SB_LUT4
set_location ALU.mult.madd_cry_8_s 9 10 0 #SB_LUT4
set_location ALU.mult.madd_208 1 13 0 #SB_LUT4
set_location ALU.mult.madd_181 2 16 0 #SB_LUT4
set_location ALU.m42_ns_1 7 2 4 #SB_LUT4
set_location ALU.g_RNIVGLL[9] 12 7 2 #SB_LUT4
set_location ALU.d_RNIKBPO51[5] 7 4 3 #SB_LUT4
set_location ALU.d_RNIEBMRA[0] 7 6 5 #SB_LUT4
set_location ALU.c_RNI58CHC[14] 4 5 1 #SB_LUT4
set_location FTDI.gap_RNO[0] 9 2 0 #SB_LUT4
set_location FTDI.TXstate_RNO_0[0] 10 2 2 #SB_LUT4
set_location ALU.mult.madd_344 3 10 7 #SB_LUT4
set_location ALU.b[1] 12 13 7 #SB_DFFE
set_location clkdiv[12] 1 17 4 #SB_DFF
set_location ALU.mult.madd_m6_1 4 14 0 #SB_LUT4
set_location ALU.mult.madd_314 4 9 4 #SB_LUT4
set_location ALU.mult.g0_13 1 14 0 #SB_LUT4
set_location ALU.i87_mux_5_i 13 10 0 #SB_LUT4
set_location testWord[8] 1 6 2 #SB_DFFE
set_location testWord[11] 2 4 6 #SB_DFFE
set_location testClock 4 1 5 #SB_DFF
set_location ALU.e_RNINIVJ[0] 10 13 7 #SB_LUT4
set_location TXbuffer[6] 10 5 6 #SB_DFFE
set_location ALU.un9_addsub_cry_7_c_RNIBA6N632 9 7 5 #SB_LUT4
set_location ALU.i19_mux_i 1 6 3 #SB_LUT4
set_location ALU.h[13] 6 8 0 #SB_DFFE
set_location ALU.b_RNIM5AD1[11] 7 9 0 #SB_LUT4
set_location ALU.a[14] 11 12 1 #SB_DFFE
set_location ALU.mult.madd_axb_2_l_fx 7 16 1 #SB_LUT4
set_location ALU.mult.madd 2 8 2 #SB_LUT4
set_location ALU.h_cnv[0] 3 2 0 #SB_LUT4
set_location ALU.e_RNIU5N11[8] 5 9 0 #SB_LUT4
set_location ALU.c_RNIMVPEP[15] 5 3 4 #SB_LUT4
set_location ALU.un2_addsub_cry_14_c_RNINOK69 6 10 7 #SB_LUT4
set_location ALU.e_RNIHCSL1[0] 6 13 2 #SB_LUT4
set_location ALU.d_RNIU9R47[5] 2 12 1 #SB_LUT4
set_location FTDI.TXshift[2] 12 5 5 #SB_DFFNE
set_location ALU.mult.madd_24 4 13 6 #SB_LUT4
set_location ALU.mult.g0_5 1 9 0 #SB_LUT4
set_location ALU.m641_ns_1 3 1 6 #SB_LUT4
set_location ALU.m636 3 4 1 #SB_LUT4
set_location ALU.g_RNIRUBO[0] 10 14 4 #SB_LUT4
set_location ALU.d_RNIO7LU[13] 6 8 1 #SB_LUT4
set_location ALU.d_RNIA6K08[4] 4 7 0 #SB_LUT4
set_location ALU.d_RNI1K464[5] 1 7 2 #SB_LUT4
set_location clkdiv_cry_c[10] 1 17 2 #SB_CARRY
set_location ALU.d_RNIP6PD3[1] 5 13 3 #SB_LUT4
set_location ALU.d_RNIIM558[12] 4 9 7 #SB_LUT4
set_location ALU.d_RNIF9794[9] 3 4 7 #SB_LUT4
set_location ALU.d_RNIE5297[6] 5 13 2 #SB_LUT4
set_location ALU.c_RNIBHJVC1[15] 10 2 5 #SB_LUT4
set_location ALU.c_RNI6PLSH[13] 9 4 2 #SB_LUT4
set_location ALU.a_RNI41LF1[11] 7 9 2 #SB_LUT4
set_location ALU.un9_addsub_cry_2_c_RNIMN63N 13 10 3 #SB_LUT4
set_location ALU.un2_addsub_cry_5_c 6 9 5 #SB_CARRY
set_location ALU.d_RNIGS0L7[6] 3 7 6 #SB_LUT4
set_location ALU.d[1] 12 14 7 #SB_DFFE
set_location ALU.c_RNIPF49[15] 11 9 4 #SB_LUT4
set_location ALU.b_cnv_0[0] 4 1 6 #SB_LUT4
set_location FTDI.TXstate[3] 11 3 7 #SB_DFFN
set_location ALU.d_RNIRII02[11] 7 9 1 #SB_LUT4
set_location ALU.d_RNIDTEA7[6] 7 13 4 #SB_LUT4
set_location FTDI.TXstate_RNO[0] 11 2 1 #SB_LUT4
set_location ALU.mult.madd_56 4 14 4 #SB_LUT4
set_location ALU.d_RNIU60L[7] 14 11 6 #SB_LUT4
set_location ALU.d_RNIKT467[8] 4 13 2 #SB_LUT4
set_location ALU.d_RNIEN0V7[0] 6 2 0 #SB_LUT4
set_location ALU.d_RNI80E86[1] 7 10 1 #SB_LUT4
set_location ALU.c_RNIFEHQ1[13] 12 11 1 #SB_LUT4
set_location testWord[28] 6 6 0 #SB_DFFE
set_location ALU.mult.g0_23 2 16 5 #SB_LUT4
set_location ALU.m672 5 7 5 #SB_LUT4
set_location ALU.g[6] 10 17 5 #SB_DFFE
set_location ALU.d_RNIV4344[8] 2 10 0 #SB_LUT4
set_location ALU.d_RNIONI011[6] 7 5 1 #SB_LUT4
set_location ALU.d_RNI19RM6[1] 7 3 6 #SB_LUT4
set_location ALU.b[4] 14 12 1 #SB_DFFE
set_location clkdiv[15] 1 17 7 #SB_DFF
set_location ALU.mult.madd_m6_2 2 9 6 #SB_LUT4
set_location ALU.mult.g0_10 2 9 3 #SB_LUT4
set_location ALU.e_RNI5NDI1[1] 7 10 3 #SB_LUT4
set_location testWord[16] 2 4 0 #SB_DFFE
set_location ALU.e_RNI9N7N[6] 9 15 4 #SB_LUT4
set_location ALU.c_RNI3QSJ7[15] 4 4 5 #SB_LUT4
set_location ALU.b_RNIILSD1[12] 10 7 5 #SB_LUT4
set_location TXbuffer[5] 14 7 5 #SB_DFFE
set_location ALU.un9_addsub_cry_8_c_RNIPHQ7I3 11 7 6 #SB_LUT4
set_location ALU.un9_addsub_cry_1_c 13 7 1 #SB_CARRY
set_location ALU.un2_addsub_cry_0_c 6 9 0 #SB_CARRY
set_location ALU.mult.madd_34 4 14 3 #SB_LUT4
set_location ALU.h[10] 6 11 0 #SB_DFFE
set_location ALU.e_RNI40I81[2] 9 12 0 #SB_LUT4
set_location ALU.d_RNI7PG73[3] 7 14 3 #SB_LUT4
set_location ALU.d_RNI4MEEE[6] 10 3 4 #SB_LUT4
set_location ALU.c_RNITCKM1[11] 11 8 1 #SB_LUT4
set_location ALU.c[14] 11 10 4 #SB_DFFE
set_location CONTROL.aluOperation[1] 5 2 0 #SB_DFF
set_location ALU.un2_addsub_cry_8_c 6 10 0 #SB_CARRY
set_location ALU.m271_ns_1 4 16 7 #SB_LUT4
set_location ALU.d_RNIGGQ26[1] 3 11 7 #SB_LUT4
set_location ALU.d_RNIAD5QQ1[0] 4 5 3 #SB_LUT4
set_location ALU.c_RNIFEUU3[12] 4 6 4 #SB_LUT4
set_location ALU.a_15_m2_ns_1[6] 14 9 0 #SB_LUT4
set_location ALU.un2_addsub_cry_13_c 6 10 5 #SB_CARRY
set_location ALU.mult.madd_m3 5 16 4 #SB_LUT4
set_location ALU.i12_mux_i 2 4 0 #SB_LUT4
set_location ALU.d_RNIO82C8[9] 4 10 0 #SB_LUT4
set_location ALU.c[1] 10 15 1 #SB_DFFE
set_location ALU.a_15_m4_bm_1[2] 9 3 3 #SB_LUT4
set_location ALU.mult.g0_0 1 13 6 #SB_LUT4
set_location ALU.i85_mux_1_i 2 4 2 #SB_LUT4
set_location ALU.f_RNIJ0FJ[4] 14 10 3 #SB_LUT4
set_location ALU.d_RNIRALR6[7] 5 15 5 #SB_LUT4
set_location ALU.d_RNIK8CGE[5] 6 5 4 #SB_LUT4
set_location ALU.d[14] 10 9 3 #SB_DFFE
set_location ALU.c_RNIM5JEB2[15] 12 8 2 #SB_LUT4
set_location clkdiv_cry_c[15] 1 17 7 #SB_CARRY
set_location ALU.mult.madd_573 3 9 7 #SB_LUT4
set_location ALU.d_RNI5IGD1[5] 6 15 3 #SB_LUT4
set_location ALU.a_0[11] 11 8 4 #SB_LUT4
set_location CONTROL.operand2_0_rep2_RNO 12 9 4 #SB_LUT4
set_location ALU.mult.madd_325_0 2 9 0 #SB_LUT4
set_location ALU.d_RNIPCSJD1[8] 9 7 1 #SB_LUT4
set_location ALU.d[4] 10 16 7 #SB_DFFE
set_location ALU.c_RNILB49[13] 11 9 0 #SB_LUT4
set_location ALU.un9_addsub_cry_2_c 13 7 2 #SB_CARRY
set_location ALU.mult.madd_320 3 7 2 #SB_LUT4
set_location ALU.mult.madd_113 4 16 1 #SB_LUT4
set_location ALU.d_RNI6JKM8[9] 7 3 4 #SB_LUT4
set_location ALU.c_RNI76HQ1[11] 7 9 3 #SB_LUT4
set_location FTDI.TXstate_RNO[3] 11 3 7 #SB_LUT4
set_location ALU.f_RNIAOEJ[0] 11 13 4 #SB_LUT4
set_location ALU.d_RNI6I7F7[4] 2 16 2 #SB_LUT4
set_location testWord[27] 2 4 7 #SB_DFFE
set_location CONTROL.results_e_0[2] 3 2 2 #SB_DFFE
set_location ALU.mult.madd_269 2 7 6 #SB_LUT4
set_location ALU.mult.g0_26 5 16 0 #SB_LUT4
set_location ALU.g[3] 11 14 3 #SB_DFFE
set_location ALU.d_RNILBFG4[2] 5 6 0 #SB_LUT4
set_location clkdiv[18] 1 18 2 #SB_DFF
set_location ALU.d_RNIJ4CI4[11] 11 8 2 #SB_LUT4
set_location ALU.c_RNISG1SC[12] 9 3 2 #SB_LUT4
set_location ALU.c_RNIAD3U1[13] 11 9 2 #SB_LUT4
set_location FTDI.TXshift_RNO[5] 12 5 1 #SB_LUT4
set_location CONTROL.aluParams_RNO[2] 7 3 3 #SB_LUT4
set_location ALU.mult.madd_94 6 16 4 #SB_LUT4
set_location ALU.mult.g0_0_0_m2_0_1 12 7 4 #SB_LUT4
set_location ALU.m282 5 1 2 #SB_LUT4
set_location ALU.e[1] 9 14 3 #SB_DFFE
set_location CONTROL.operand2_0_rep1_RNO 3 10 2 #SB_LUT4
set_location ALU.mult.madd_37 4 14 1 #SB_LUT4
set_location ALU.d_RNIHB2E3[4] 5 12 1 #SB_LUT4
set_location ALU.c_RNI25K7D[14] 4 3 1 #SB_LUT4
set_location ALU.c[13] 11 10 3 #SB_DFFE
set_location ALU.a[12] 10 6 4 #SB_DFFE
set_location clkdiv_RNO[2] 1 16 2 #SB_LUT4
set_location ALU.mult.madd_axb_9_l_ofx 1 14 6 #SB_LUT4
set_location ALU.mult.madd_axb_11 2 14 0 #SB_LUT4
set_location ALU.f_RNIM2101[2] 9 11 3 #SB_LUT4
set_location ALU.d_RNIVQ5R6[2] 3 13 7 #SB_LUT4
set_location ALU.d_RNIIFMN04[2] 10 11 5 #SB_LUT4
set_location ALU.c_RNID22SC[13] 6 7 1 #SB_LUT4
set_location ALU.a[9] 11 7 7 #SB_DFFE
set_location CONTROL.operand2_fast_RNO[1] 10 13 0 #SB_LUT4
set_location ALU.m326dup 11 5 2 #SB_LUT4
set_location ALU.g_RNI1K602[9] 5 11 2 #SB_LUT4
set_location ALU.d_RNIT87FA1[7] 9 4 6 #SB_LUT4
set_location ALU.d_RNIE79M7[4] 6 16 5 #SB_LUT4
set_location ALU.d_RNI5MUQE[6] 6 5 1 #SB_LUT4
set_location ALU.c[6] 10 15 6 #SB_DFFE
set_location ALU.d_RNIPFIBI1[9] 7 4 4 #SB_LUT4
set_location clkdiv_cry_c[16] 1 18 0 #SB_CARRY
set_location clkdiv_RNO[18] 1 18 2 #SB_LUT4
set_location CONTROL.operand1_1_rep1_e 9 12 3 #SB_DFFE
set_location ALU.un2_addsub_cry_7_c 6 9 7 #SB_CARRY
set_location ALU.c_RNI1HUMG[11] 5 3 5 #SB_LUT4
set_location ALU.un9_addsub_cry_13_c_RNI4JGF9 13 8 6 #SB_LUT4
set_location ALU.un2_addsub_cry_14_c 6 10 6 #SB_CARRY
set_location ALU.mult.madd_46 3 16 0 #SB_LUT4
set_location ALU.mult.madd_290_0 2 13 0 #SB_LUT4
set_location ALU.mult.madd_284 3 11 5 #SB_LUT4
set_location ALU.mult.madd_190 1 12 4 #SB_LUT4
set_location ALU.m246 5 7 3 #SB_LUT4
set_location ALU.i17_mux_i 2 4 1 #SB_LUT4
set_location ALU.d_RNIT1MQ7[7] 10 3 6 #SB_LUT4
set_location ALU.d_RNISBLU[15] 12 8 6 #SB_LUT4
set_location ALU.d_RNIMA3938[4] 13 14 6 #SB_LUT4
set_location ALU.d[7] 13 12 7 #SB_DFFE
set_location ALU.c_RNIPTRDR1[11] 12 6 3 #SB_LUT4
set_location testState[0] 7 1 7 #SB_DFF
set_location ALU.mult.madd_cry_12_s 9 10 4 #SB_LUT4
set_location ALU.mult.madd_250 3 10 5 #SB_LUT4
set_location ALU.mult.g0_0_a3_0_1 4 13 0 #SB_LUT4
set_location ALU.d_RNIQU7D1[8] 9 7 4 #SB_LUT4
set_location ALU.d_RNI0B2B8[7] 2 15 0 #SB_LUT4
set_location ALU.c_RNI693U1[12] 9 6 4 #SB_LUT4
set_location ALU.b[10] 10 11 0 #SB_DFFE
set_location clkdiv_cry_c[20] 1 18 4 #SB_CARRY
set_location ALU.mult.madd_228 2 12 5 #SB_LUT4
set_location ALU.d_RNI8DRP4_0[13] 6 8 2 #SB_LUT4
set_location ALU.d_RNI1S6M7[5] 3 8 1 #SB_LUT4
set_location testWord[22] 1 10 5 #SB_DFFE
set_location ALU.mult.madd_cry_5_c 9 9 5 #SB_CARRY
set_location ALU.mult.madd_362 3 5 1 #SB_LUT4
set_location ALU.mult.g0_25 3 14 5 #SB_LUT4
set_location ALU.mult.g0_0_0 2 6 6 #SB_LUT4
set_location ALU.g[0] 11 14 0 #SB_DFFE
set_location ALU.d_RNIA7959[13] 10 8 1 #SB_LUT4
set_location ALU.un2_addsub_cry_3_c_RNIOGGJG 6 9 4 #SB_LUT4
set_location ALU.mult.madd_232 2 12 3 #SB_LUT4
set_location ALU.m289_ns_1 1 7 1 #SB_LUT4
set_location ALU.d_RNIL4SQK2[7] 13 11 3 #SB_LUT4
set_location ALU.d_RNIDT3G5[13] 6 8 3 #SB_LUT4
set_location ALU.b_RNIEHSD1[10] 9 12 7 #SB_LUT4
set_location ALU.a_cnv[0] 4 1 3 #SB_LUT4
set_location testWord[1] 2 2 4 #SB_DFFE
set_location FTDI.TXshift_RNO[2] 12 5 5 #SB_LUT4
set_location ALU.mult.madd_cry_10_ma 1 14 1 #SB_LUT4
set_location ALU.mult.madd_93 4 13 3 #SB_LUT4
set_location ALU.mult.madd_484_15 4 8 0 #SB_LUT4
set_location ALU.mult.madd_411 3 8 2 #SB_LUT4
set_location ALU.mult.madd_217 3 12 3 #SB_LUT4
set_location ALU.m14 5 1 7 #SB_LUT4
set_location ALU.f[8] 1 5 0 #SB_DFFE
set_location ALU.e[2] 10 12 1 #SB_DFFE
set_location ALU.d_RNIG6C84[9] 6 7 4 #SB_LUT4
set_location ALU.d_RNIFO567[9] 5 11 0 #SB_LUT4
set_location ALU.a_15_m2_ns_1[13] 6 7 0 #SB_LUT4
set_location ALU.un9_addsub_cry_3_c 13 7 3 #SB_CARRY
set_location ALU.mult.madd_158 1 14 5 #SB_LUT4
set_location ALU.d_RNIV96U8[13] 4 9 3 #SB_LUT4
set_location clkdiv_RNO[7] 1 16 7 #SB_LUT4
set_location FTDI.RXstate[0] 9 2 3 #SB_DFFN
set_location CONTROL.operand1_e_0[2] 9 11 2 #SB_DFFE
set_location CONTROL.operand2_fast_RNO[2] 10 13 2 #SB_LUT4
set_location ALU.un9_addsub_cry_14_c_RNIS374J 13 8 7 #SB_LUT4
set_location ALU.mult.madd_m3_1 2 8 0 #SB_LUT4
set_location ALU.mult.madd_24_0_tz 5 14 7 #SB_LUT4
set_location ALU.d_RNIV49JL[1] 7 5 5 #SB_LUT4
set_location ALU.d_RNIFKNTE[12] 4 9 1 #SB_LUT4
set_location ALU.a_15_m4_bm_1[8] 6 2 4 #SB_LUT4
set_location ALU.mult.madd_s_14 9 10 6 #SB_LUT4
set_location ALU.mult.madd_52_0 3 13 5 #SB_LUT4
set_location ALU.d_RNILMFN5[10] 1 11 2 #SB_LUT4
set_location ALU.un9_addsub_cry_5_c_RNI26HCN 13 10 6 #SB_LUT4
set_location ALU.mult.madd_484_3 6 7 3 #SB_LUT4
set_location ALU.g_RNIBICH1[6] 7 13 3 #SB_LUT4
set_location FTDI.TXstate_RNO_1[1] 11 2 6 #SB_LUT4
set_location ALU.m50 3 1 1 #SB_LUT4
set_location ALU.e_RNIRMVJ[2] 10 13 3 #SB_LUT4
set_location ALU.e_RNI1TVJ[5] 10 14 1 #SB_LUT4
set_location ALU.d_RNIOTRP4[15] 11 9 7 #SB_LUT4
set_location FTDI.RXstate_RNO[3] 9 2 7 #SB_LUT4
set_location CONTROL.aluOperation_RNI5QD2L3[0] 12 6 5 #SB_LUT4
set_location ALU.un9_addsub_cry_1_c_RNIM56UL 13 10 2 #SB_LUT4
set_location ALU.i11_mux_i 1 10 2 #SB_LUT4
set_location ALU.d_RNIPKIOE[7] 7 2 2 #SB_LUT4
set_location ALU.d_RNIB0KD9[12] 4 9 0 #SB_LUT4
set_location ALU.b[15] 10 11 1 #SB_DFFE
set_location ALU.mult.madd_88 4 15 6 #SB_LUT4
set_location ALU.h[9] 7 16 2 #SB_DFFE
set_location ALU.c_RNIEP354[14] 4 3 0 #SB_LUT4
set_location testWord[21] 1 7 0 #SB_DFFE
set_location clkdiv_cry_c[3] 1 16 3 #SB_CARRY
set_location clkdiv_RNO[22] 1 18 6 #SB_LUT4
set_location ALU.mult.madd_406 3 9 0 #SB_LUT4
set_location ALU.d_RNIO00L[4] 7 16 6 #SB_LUT4
set_location ALU.d_RNIFPKBA1[0] 7 6 6 #SB_LUT4
set_location FTDI.RXready_RNO 6 1 0 #SB_LUT4
set_location CONTROL.operand2[0] 12 9 5 #SB_DFF
set_location ALU.mult.madd_axb_4_l_fx 3 11 4 #SB_LUT4
set_location ALU.i88_mux_5_i 2 4 6 #SB_LUT4
set_location ALU.d_RNIII58A[2] 9 3 4 #SB_LUT4
set_location ALU.d_RNIGNQGE[3] 6 5 6 #SB_LUT4
set_location testWord[4] 2 4 4 #SB_DFFE
set_location FTDI.RXstate_RNI67DS1[0] 6 1 6 #SB_LUT4
set_location CONTROL.aluParams[0] 6 2 6 #SB_DFF
set_location ALU.mult.madd_484_16 4 8 5 #SB_LUT4
set_location ALU.mult.madd_212 1 13 2 #SB_LUT4
set_location ALU.m55_ns 5 1 4 #SB_LUT4
set_location ALU.f[7] 12 12 7 #SB_DFFE
set_location ALU.e[7] 10 12 4 #SB_DFFE
set_location ALU.d_RNILOIL8[9] 3 4 5 #SB_LUT4
set_location ALU.c_RNIIUNC7[12] 4 6 5 #SB_LUT4
set_location ALU.a_15_m2_ns_1[10] 7 8 3 #SB_LUT4
set_location ALU.un2_addsub_cry_7_c_RNIL8JHG 6 10 0 #SB_LUT4
set_location ALU.e_RNIOG1M[8] 11 7 2 #SB_LUT4
set_location ALU.e_RNIKC1M[6] 7 13 2 #SB_LUT4
set_location ALU.d_cnv[0] 4 2 6 #SB_LUT4
set_location ALU.c_RNIBIR3G[13] 5 4 0 #SB_LUT4
set_location clkdiv_RNO[4] 1 16 4 #SB_LUT4
set_location clkdiv[1] 1 16 1 #SB_DFF
set_location FTDI.RXstate[3] 9 2 7 #SB_DFFN
set_location CONTROL.operand1_e_0[1] 9 12 6 #SB_DFFE
set_location CONTROL.aluReadBus_rep1_e 5 7 1 #SB_DFFE
set_location ALU.un2_addsub_cry_13_c_RNI2LH1U 11 6 0 #SB_LUT4
set_location ALU.m641_ns 5 1 0 #SB_LUT4
set_location ALU.d_RNIGG5I7[8] 2 7 5 #SB_LUT4
set_location ALU.c_RNIG749[11] 11 8 5 #SB_LUT4
set_location ALU.c_RNICMQ94[10] 7 12 4 #SB_LUT4
set_location ALU.a[7] 9 13 7 #SB_DFFE
set_location ALU.mult.madd_89_0 5 14 1 #SB_LUT4
set_location ALU.mult.madd_254_0_tz 1 9 4 #SB_LUT4
set_location ALU.m178 6 6 3 #SB_LUT4
set_location ALU.g[13] 12 10 3 #SB_DFFE
set_location ALU.d_RNI4KLR6[7] 4 13 4 #SB_LUT4
set_location ALU.c_RNIQIGEG[11] 5 4 3 #SB_LUT4
set_location ALU.G_566 4 2 3 #SB_LUT4
set_location FTDI.un3_TX_cry_3_c_RNIBAJU 13 2 2 #SB_LUT4
set_location ALU.mult.madd_124_0 1 14 2 #SB_LUT4
set_location ALU.mult.g0_9 3 10 0 #SB_LUT4
set_location ALU.f_cnv[0] 4 2 7 #SB_LUT4
set_location ALU.e[10] 10 10 0 #SB_DFFE
set_location ALU.d_RNI5SME5[14] 3 4 2 #SB_LUT4
set_location ALU.un9_addsub_cry_8_c_RNIKTS9S 11 7 5 #SB_LUT4
set_location ALU.mult.madd_484_6 7 9 5 #SB_LUT4
set_location ALU.mult.madd_166_0 1 8 0 #SB_LUT4
set_location ALU.e_RNIR49H[9] 13 6 7 #SB_LUT4
set_location ALU.d_RNIQ74VB[8] 2 6 1 #SB_LUT4
set_location ALU.d_RNI8DRP4[13] 10 8 0 #SB_LUT4
set_location ALU.d_RNI35CK1[8] 5 9 2 #SB_LUT4
set_location ALU.c_RNI1HDEU1[13] 7 5 6 #SB_LUT4
set_location CONTROL.aluOperation_RNO[1] 5 2 0 #SB_LUT4
set_location ALU.mult.madd_171 1 12 3 #SB_LUT4
set_location ALU.d_RNIHRFPB[7] 14 13 6 #SB_LUT4
set_location ALU.d_RNIG6R7[1] 10 14 5 #SB_LUT4
set_location ALU.mult.madd_cry_4_s 9 9 4 #SB_LUT4
set_location ALU.mult.madd_cry_2_s 9 9 2 #SB_LUT4
set_location ALU.mult.madd_191_0 1 15 5 #SB_LUT4
set_location ALU.d_RNIPD997[6] 6 2 7 #SB_LUT4
set_location ALU.d_RNIDAJB7[3] 3 16 3 #SB_LUT4
set_location ALU.a_RNI63LF1[12] 4 6 0 #SB_LUT4
set_location clkdiv[20] 1 18 4 #SB_DFF
set_location FTDI.gap_RNI29TH[2] 6 1 1 #SB_LUT4
set_location ALU.mult.madd_300_0 2 14 4 #SB_LUT4
set_location ALU.mult.madd_222 4 10 1 #SB_LUT4
set_location ALU.h[4] 12 16 3 #SB_DFFE
set_location ALU.d_RNIK3LU[11] 11 8 3 #SB_LUT4
set_location clkdiv_cry_c[6] 1 16 6 #SB_CARRY
set_location FTDI.TXstate_RNICVLM[0] 11 2 0 #SB_LUT4
set_location ALU.un2_addsub_cry_6_c_RNIL4LMI 6 9 7 #SB_LUT4
set_location ALU.mult.madd_200 1 15 6 #SB_LUT4
set_location ALU.mult.g0_0_0_m2_0 12 7 7 #SB_LUT4
set_location ALU.e_RNIS97J[1] 9 14 2 #SB_LUT4
set_location ALU.d_RNIMIK85[11] 5 8 5 #SB_LUT4
set_location ALU.d_RNIE8SJN5[3] 13 9 6 #SB_LUT4
set_location ALU.d_RNI44SK3[1] 7 10 5 #SB_LUT4
set_location ALU.b_RNIGJSD1[11] 10 8 6 #SB_LUT4
set_location ALU.mult.madd_315_0 1 8 4 #SB_LUT4
set_location ALU.d_RNI7VNOJ2[6] 14 9 3 #SB_LUT4
set_location testWord[7] 2 4 2 #SB_DFFE
set_location ALU.mult.madd_382 2 7 1 #SB_LUT4
set_location ALU.m650_ns 5 1 6 #SB_LUT4
set_location ALU.m645_ns_1 3 1 7 #SB_LUT4
set_location ALU.f_RNIIIOA1[8] 5 9 1 #SB_LUT4
set_location ALU.f[2] 12 12 2 #SB_DFFE
set_location testWord[19] 1 10 2 #SB_DFFE
set_location CONTROL.aluReadBus_fast_e 5 7 2 #SB_DFFE
set_location ALU.mult.madd_265_0 2 13 5 #SB_LUT4
set_location ALU.m713 5 2 6 #SB_LUT4
set_location ALU.g0_6 5 10 4 #SB_LUT4
set_location clkdiv_RNO[9] 1 17 1 #SB_LUT4
set_location clkdiv[2] 1 16 2 #SB_DFF
set_location FTDI.RXbuffer[1] 1 4 1 #SB_DFFNE
set_location ALU.mult.madd_139 6 16 7 #SB_LUT4
set_location ALU.e_RNI7L7N[5] 6 15 6 #SB_LUT4
set_location ALU.d_RNII1LU[10] 7 16 5 #SB_LUT4
set_location ALU.a[0] 9 13 0 #SB_DFFE
set_location ALU.un9_addsub_cry_7_c_RNIQIKVO 11 7 1 #SB_LUT4
set_location ALU.f_RNIKKOA1[9] 5 11 4 #SB_LUT4
set_location ALU.c_RNIEFIJ[10] 12 9 6 #SB_LUT4
set_location ALU.mult.madd_cry_13_0_s 9 10 5 #SB_LUT4
set_location ALU.mult.madd_148 2 15 5 #SB_LUT4
set_location ALU.mult.N_1700_i 5 12 7 #SB_LUT4
set_location ALU.i10_mux_i 2 2 0 #SB_LUT4
set_location ALU.e[13] 10 10 3 #SB_DFFE
set_location ALU.d_RNIAUJU2[2] 10 13 6 #SB_LUT4
set_location ALU.c_RNILI6TQ[11] 9 4 5 #SB_LUT4
set_location ALU.mult.madd_484_5 5 15 7 #SB_LUT4
set_location ALU.d_RNIOHBUD[1] 7 6 1 #SB_LUT4
set_location ALU.d_RNIKFBA7[3] 7 7 2 #SB_LUT4
set_location ALU.d_RNI61SHA[1] 7 10 6 #SB_LUT4
set_location ALU.c_RNIA9V4L_0[15] 9 4 4 #SB_LUT4
set_location clkdiv_cry_c[18] 1 18 2 #SB_CARRY
set_location clkdiv_RNO[16] 1 18 0 #SB_LUT4
set_location ALU.f_RNIRM7O[8] 9 7 3 #SB_LUT4
set_location ALU.f[15] 9 8 4 #SB_DFFE
set_location ALU.d_RNIDK21B[3] 7 15 1 #SB_LUT4
set_location testClock_RNIAQVB 4 1 1 #SB_LUT4
set_location ALU.mult.madd_377 3 8 5 #SB_LUT4
set_location ALU.mult.madd_223_0 2 11 4 #SB_LUT4
set_location ALU.m300_ns_1 3 3 4 #SB_LUT4
set_location ALU.c_RNI30A98_0[13] 5 4 4 #SB_LUT4
set_location ALU.mult.madd_cry_10_0_c 9 10 2 #SB_CARRY
set_location ALU.mult.madd_227 2 10 4 #SB_LUT4
set_location ALU.h[7] 11 11 3 #SB_DFFE
set_location ALU.d_RNI6QT5G[9] 10 3 0 #SB_LUT4
set_location clkdiv_cry_c[5] 1 16 5 #SB_CARRY
set_location ALU.i21_mux_i 2 4 7 #SB_LUT4
set_location ALU.d_RNIO7LU_0[13] 10 8 3 #SB_LUT4
set_location ALU.d_RNIM0ETK2[8] 9 7 2 #SB_LUT4
set_location ALU.d_RNIA28GU1[1] 7 4 6 #SB_LUT4
set_location ALU.c_RNIFCGVL2[14] 4 5 5 #SB_LUT4
set_location ALU.a_RNIQ3U41[14] 5 4 1 #SB_LUT4
set_location ALU.mult.madd_264 1 7 7 #SB_LUT4
set_location ALU.d_RNIN9H77[3] 7 6 2 #SB_LUT4
set_location ALU.d_RNIBDSD3[7] 5 13 1 #SB_LUT4
set_location CONTROL.operand2_0_rep1 3 10 2 #SB_DFF
set_location ALU.un9_addsub_cry_0_c_RNI6GFHR3 11 11 0 #SB_LUT4
set_location ALU.mult.madd_cry_11_s 9 10 3 #SB_LUT4
set_location ALU.mult.madd_98 6 16 6 #SB_LUT4
set_location ALU.mult.g0_18 2 11 1 #SB_LUT4
set_location ALU.m304_ns_1 2 2 1 #SB_LUT4
set_location ALU.i5_mux_i 2 2 3 #SB_LUT4
set_location ALU.f[1] 12 12 1 #SB_DFFE
set_location ALU.d_RNITVJU4[7] 2 15 4 #SB_LUT4
set_location ALU.mult.madd_cry_3_s 9 9 3 #SB_LUT4
set_location ALU.d_RNISHKD9[13] 9 5 3 #SB_LUT4
set_location clkdiv[7] 1 16 7 #SB_DFF
set_location FTDI.RXstate_RNIV5TH[0] 6 1 7 #SB_LUT4
set_location FTDI.RXbuffer[2] 1 4 2 #SB_DFFNE
set_location ALU.un9_addsub_cry_6_c_RNIQELCS81 11 11 3 #SB_LUT4
set_location ALU.m660 2 5 4 #SB_LUT4
set_location ALU.m286_ns 11 12 7 #SB_LUT4
set_location ALU.d_RNISHLE5[12] 4 9 2 #SB_LUT4
set_location ALU.d_RNIDVDOJ2[2] 6 3 5 #SB_LUT4
set_location FTDI.gap[0] 9 2 0 #SB_DFFN
set_location ALU.mult.madd_330_0 4 10 6 #SB_LUT4
set_location ALU.g[15] 12 10 5 #SB_DFFE
set_location ALU.f_RNIL2FJ[5] 11 12 6 #SB_LUT4
set_location ALU.d_RNIMH5R6[2] 6 14 5 #SB_LUT4
set_location ALU.d_RNIJTNHA[3] 13 9 4 #SB_LUT4
set_location ALU.mult.madd_242 2 13 4 #SB_LUT4
set_location ALU.i25_mux_i 1 6 7 #SB_LUT4
set_location ALU.d_RNIP8ITN1[5] 6 3 3 #SB_LUT4
set_location ALU.d_RNIBQJS3[6] 4 15 4 #SB_LUT4
set_location ALU.c_RNIID898_0[11] 5 4 5 #SB_LUT4
set_location ALU.c[9] 11 10 7 #SB_DFFE
set_location ALU.a_RNIS5U41[15] 9 11 0 #SB_LUT4
set_location FTDI.TXshift[7] 12 5 7 #SB_DFFNE
set_location CONTROL.aluOperation_RNI2J9SL3[0] 10 11 3 #SB_LUT4
set_location ALU.un9_addsub_cry_6_c_RNI2EFH8 13 7 7 #SB_LUT4
set_location ALU.m204 5 7 7 #SB_LUT4
set_location clkdiv_RNO[15] 1 17 7 #SB_LUT4
set_location ALU.mult.madd_78_0_tz 3 16 4 #SB_LUT4
set_location ALU.c_RNINMUU3[13] 12 11 4 #SB_LUT4
set_location ALU.c_RNIFL4K8_0[11] 6 5 0 #SB_LUT4
set_location ALU.un9_addsub_cry_9_c_RNI22U6K 13 8 2 #SB_LUT4
set_location ALU.mult.madd_274 3 10 6 #SB_LUT4
set_location ALU.mult.g1_2 3 14 4 #SB_LUT4
set_location CONTROL.operand2_fast[0] 11 13 6 #SB_DFF
set_location ALU.mult.madd_83 4 15 3 #SB_LUT4
set_location ALU.m4 5 14 5 #SB_LUT4
set_location ALU.h[2] 11 11 1 #SB_DFFE
set_location ALU.d_RNI7GCMD22[8] 9 7 0 #SB_LUT4
set_location ALU.c_RNI3DJU7[14] 9 4 0 #SB_LUT4
set_location clkdiv_cry_c[8] 1 17 0 #SB_CARRY
set_location CONTROL.operand1_fast_e[2] 9 15 3 #SB_DFFE
set_location ALU.mult.madd_392 3 7 3 #SB_LUT4
set_location ALU.e_RNILGSL1[1] 6 14 1 #SB_LUT4
set_location ALU.d_RNILAR7[3] 14 11 7 #SB_LUT4
set_location FTDI.gap_RNO[2] 11 1 2 #SB_LUT4
set_location CONTROL.operand2_2_rep2_RNO 11 9 3 #SB_LUT4
set_location ALU.un2_addsub_cry_11_c_RNII7OF9 6 10 4 #SB_LUT4
set_location ALU.b[3] 14 12 0 #SB_DFFE
set_location clkdiv[10] 1 17 2 #SB_DFF
set_location ALU.mult.madd_69 3 15 7 #SB_LUT4
set_location ALU.mult.g0_15 1 11 4 #SB_LUT4
set_location ALU.i24_mux_i 3 6 6 #SB_LUT4
set_location ALU.c_RNIEGAQ72[14] 4 5 4 #SB_LUT4
set_location ALU.c_RNIC8RDN2[12] 10 6 1 #SB_LUT4
set_location testWord[13] 1 6 5 #SB_DFFE
set_location FTDI.RXready 6 1 0 #SB_DFFN
set_location ALU.mult.madd_334 4 9 6 #SB_LUT4
set_location ALU.e[9] 12 7 0 #SB_DFFE
set_location testWord[31] 1 6 7 #SB_DFFE
set_location clkdiv[8] 1 17 0 #SB_DFF
set_location TXbuffer[0] 10 5 0 #SB_DFFE
set_location FTDI.RXbuffer[7] 1 4 7 #SB_DFFNE
set_location ALU.mult.madd_484_20 4 8 2 #SB_LUT4
set_location ALU.mult.madd_18 5 15 2 #SB_LUT4
set_location ALU.m198 1 6 0 #SB_LUT4
set_location ALU.h[15] 12 8 5 #SB_DFFE
set_location ALU.d_RNIM5LU[12] 9 6 2 #SB_LUT4
set_location FTDI.baudAcc_RNO[1] 11 3 2 #SB_LUT4
set_location ALU.mult.g0_0_0_N_3L3_0 2 6 7 #SB_LUT4
set_location ALU.m259 4 1 7 #SB_LUT4
set_location ALU.d_RNICVFN6[1] 7 7 6 #SB_LUT4
set_location ALU.d_RNI05RP4[12] 9 6 5 #SB_LUT4
set_location ALU.c_RNIR4QHM2[15] 12 8 3 #SB_LUT4
set_location ALU.c_RNIJENJ8[15] 4 3 3 #SB_LUT4
set_location ALU.d_RNIGLK5B[6] 4 15 1 #SB_LUT4
set_location ALU.c_RNIFR7K3[14] 4 4 6 #SB_LUT4
set_location FTDI.TXshift[0] 12 5 0 #SB_DFFNE
set_location ALU.un2_addsub_cry_10_c_RNIUS1OJ 6 10 3 #SB_LUT4
set_location ALU.mult.madd_cry_9_0_c 9 10 1 #SB_CARRY
set_location ALU.d[11] 10 9 1 #SB_DFFE
set_location ALU.c_RNI64TU3[11] 7 9 4 #SB_LUT4
set_location clkdiv_RNO[10] 1 17 2 #SB_LUT4
set_location ALU.un9_addsub_cry_0_c_RNI2U096 13 7 1 #SB_LUT4
set_location ALU.g_RNIOGML1[3] 7 15 3 #SB_LUT4
set_location ALU.g_RNIJQCH1[8] 11 7 3 #SB_LUT4
set_location ALU.f[13] 9 8 5 #SB_DFFE
set_location ALU.i89_mux_5_i 12 4 4 #SB_LUT4
set_location ALU.i83_mux_5_i 1 6 5 #SB_LUT4
set_location ALU.d_RNIHIKU4[9] 6 7 5 #SB_LUT4
set_location ALU.d_RNI05GC8[7] 3 7 0 #SB_LUT4
set_location ALU.c_RNI5PUHV[10] 6 3 0 #SB_LUT4
set_location ALU.mult.madd_114 3 16 6 #SB_LUT4
set_location ALU.m304_ns 2 2 2 #SB_LUT4
set_location ALU.d_RNIC8LH7[7] 5 5 3 #SB_LUT4
set_location CONTROL.operand1_fast_e[1] 6 15 5 #SB_DFFE
set_location ALU.un9_addsub_cry_11_c 13 8 3 #SB_CARRY
set_location ALU.mult.madd_397 3 8 6 #SB_LUT4
set_location ALU.mult.madd_186 1 12 7 #SB_LUT4
set_location ALU.d_RNIR21R7[8] 2 6 0 #SB_LUT4
set_location ALU.d_RNIKQQR6[0] 13 7 0 #SB_LUT4
set_location ALU.d_RNIGTOD3[0] 6 13 4 #SB_LUT4
set_location ALU.b_RNIORSD1[15] 7 16 4 #SB_LUT4
set_location FTDI.TXstate_RNO_0[3] 11 3 6 #SB_LUT4
set_location CONTROL.aluOperation_e_0[3] 5 1 0 #SB_DFFE
set_location ALU.d_RNI9HFAU[5] 7 4 2 #SB_LUT4
set_location ALU.b[6] 14 12 3 #SB_DFFE
set_location clkdiv[13] 1 17 5 #SB_DFF
set_location ALU.mult.madd_m6_0 2 8 1 #SB_LUT4
set_location ALU.mult.g0_12 2 11 6 #SB_LUT4
set_location ALU.d_RNIBQ2VB3[0] 6 13 1 #SB_LUT4
set_location ALU.c_RNI88B4N2[13] 7 5 4 #SB_LUT4
set_location testWord[9] 1 6 4 #SB_DFFE
set_location testWord[10] 13 10 0 #SB_DFFE
set_location ALU.mult.madd_339 1 8 7 #SB_LUT4
set_location TXbuffer[7] 10 5 7 #SB_DFFE
set_location ALU.mult.madd_17 4 12 1 #SB_LUT4
set_location ALU.h[12] 9 6 0 #SB_DFFE
set_location ALU.c_RNIEH3U1[14] 11 6 3 #SB_LUT4
set_location ALU.a[15] 11 12 2 #SB_DFFE
set_location ALU.mult.madd_axb_14 2 8 4 #SB_LUT4
set_location ALU.m174 9 5 2 #SB_LUT4
set_location ALU.d_RNIADS9I[0] 7 6 3 #SB_LUT4
set_location ALU.d_RNI9G6T4[9] 3 4 4 #SB_LUT4
set_location ALU.d_RNI885I7[8] 4 10 2 #SB_LUT4
set_location ALU.d_RNI3BB3U[5] 6 3 2 #SB_LUT4
set_location ALU.a_15_m2_ns_1[4] 13 14 0 #SB_LUT4
set_location ALU.d_RNIR5FE6[1] 7 7 3 #SB_LUT4
set_location ALU.c[3] 10 15 3 #SB_DFFE
set_location ALU.un2_addsub_cry_12_c_RNIG3PMU 10 11 2 #SB_LUT4
set_location ALU.un2_addsub_cry_0_c_RNI5MA0E 6 9 1 #SB_LUT4
set_location ALU.mult.g0_6 2 16 7 #SB_LUT4
set_location ALU.d_RNI7AI932[0] 5 2 5 #SB_LUT4
set_location clkdiv_cry_c[13] 1 17 5 #SB_CARRY
set_location CONTROL.aluReadBus_e_0 2 5 2 #SB_DFFE
set_location ALU.mult.madd_484 2 8 3 #SB_LUT4
set_location ALU.c_RNIJK5GK1[15] 13 9 1 #SB_LUT4
set_location ALU.c_RNI7KNC7[13] 12 11 5 #SB_LUT4
set_location ALU.a_0[13] 6 8 0 #SB_LUT4
set_location ALU.mult.madd_195 2 15 6 #SB_LUT4
set_location ALU.d_RNI0SA7U[4] 13 14 5 #SB_LUT4
set_location ALU.d[2] 13 12 2 #SB_DFFE
set_location FTDI.TXstate[0] 11 2 1 #SB_DFFN
set_location ALU.d_RNIO75MA[0] 12 13 1 #SB_LUT4
set_location ALU.d_RNIC5K02[15] 6 15 1 #SB_LUT4
set_location ALU.d_RNI7I9B2[10] 7 12 3 #SB_LUT4
set_location ALU.d_RNI41DBT[3] 7 3 1 #SB_LUT4
set_location FTDI.TXstate_RNO[1] 11 2 2 #SB_LUT4
set_location ALU.mult.madd_185 2 16 4 #SB_LUT4
set_location ALU.e_RNIM09H[7] 3 14 1 #SB_LUT4
set_location ALU.d_RNIULB84[7] 3 14 3 #SB_LUT4
set_location testWord[29] 9 5 7 #SB_DFFE
set_location CONTROL.results_e_0[0] 2 1 0 #SB_DFFE
set_location CONTROL.aluOperation_e_0[4] 5 1 3 #SB_DFFE
set_location ALU.mult.madd_170_0_tz 2 11 2 #SB_LUT4
set_location ALU.g_RNIC4ML1[0] 6 12 1 #SB_LUT4
set_location ALU.g[5] 11 14 5 #SB_DFFE
set_location ALU.b[5] 14 12 2 #SB_DFFE
set_location clkdiv[16] 1 18 0 #SB_DFF
set_location ALU.un2_addsub_cry_8_c_RNIKR81J 6 10 1 #SB_LUT4
set_location ALU.mult.madd_axb_0_l_ofx 12 13 4 #SB_LUT4
set_location ALU.g_RNIK6LL[4] 7 11 0 #SB_LUT4
set_location ALU.f_RNIGRS31[0] 6 12 2 #SB_LUT4
set_location ALU.e_RNITOVJ[3] 7 15 4 #SB_LUT4
set_location ALU.d_RNIEG675[11] 9 5 5 #SB_LUT4
set_location ALU.d_RNIBSS27[1] 7 5 7 #SB_LUT4
set_location testWord[15] 1 6 6 #SB_DFFE
set_location FTDI.TXshift_RNO[7] 12 5 7 #SB_LUT4
set_location ALU.mult.madd_12 4 14 2 #SB_LUT4
set_location ALU.m669 3 3 5 #SB_LUT4
set_location ALU.d_RNIDU4G5[14] 3 6 2 #SB_LUT4
set_location ALU.c[15] 11 10 6 #SB_DFFE
set_location ALU.a[10] 7 8 6 #SB_DFFE
set_location ALU.un9_addsub_cry_10_c 13 8 2 #SB_CARRY
set_location ALU.mult.madd_axb_5_l_fx 3 11 3 #SB_LUT4
set_location ALU.mult.madd_74_0 4 15 2 #SB_LUT4
set_location ALU.mult.madd_134 1 15 0 #SB_LUT4
set_location ALU.c_RNIKUKV3[15] 11 4 2 #SB_LUT4
set_location ALU.a_15_m2_ns_1[7] 13 11 0 #SB_LUT4
set_location FTDI.RXstate_RNO_0[3] 7 1 5 #SB_LUT4
set_location ALU.mult.madd_6 5 6 5 #SB_LUT4
set_location ALU.c_RNIO0TVG[11] 5 4 6 #SB_LUT4
set_location ALU.c_RNIJ17GT[15] 12 3 2 #SB_LUT4
set_location ALU.c[0] 10 15 0 #SB_DFFE
set_location ALU.un9_addsub_cry_0_c 13 7 0 #SB_CARRY
set_location ALU.mult.madd_cry_0_ma 3 5 3 #SB_LUT4
set_location ALU.mult.g0_1 1 9 7 #SB_LUT4
set_location ALU.m657 2 2 7 #SB_LUT4
set_location ALU.i4_mux_i 2 4 4 #SB_LUT4
set_location ALU.c_RNIDBD49[15] 5 5 7 #SB_LUT4
set_location ALU.a_RNIHRBO[13] 11 9 1 #SB_LUT4
set_location ALU.a_RNIBLBO[10] 4 11 0 #SB_LUT4
set_location clkdiv_cry_c[14] 1 17 6 #SB_CARRY
set_location ALU.f_RNIM1T31[3] 9 14 5 #SB_LUT4
set_location ALU.a_0[10] 6 11 0 #SB_LUT4
set_location ALU.mult.madd_196 1 15 4 #SB_LUT4
set_location ALU.m645_ns 5 1 3 #SB_LUT4
set_location ALU.m240 5 6 1 #SB_LUT4
set_location ALU.g_RNISKML1[4] 5 12 2 #SB_LUT4
set_location ALU.d[5] 13 12 5 #SB_DFFE
set_location CONTROL.aluOperation_RNINNN4N3[0] 7 8 5 #SB_LUT4
set_location ALU.mult.madd_252 1 9 3 #SB_LUT4
set_location ALU.c_RNI68L5A[15] 11 4 1 #SB_LUT4
set_location ALU.un9_addsub_cry_13_c 13 8 5 #SB_CARRY
set_location ALU.mult.madd_axb_1_l_ofx 12 9 2 #SB_LUT4
set_location ALU.d_RNIHBIK1[4] 5 12 0 #SB_LUT4
set_location ALU.c_RNI4JFV4[15] 10 3 2 #SB_LUT4
set_location ALU.c_RNI4JFV4_0[15] 11 4 5 #SB_LUT4
set_location ALU.a_RNIGOP81[10] 7 12 0 #SB_LUT4
set_location testWord[24] 1 6 1 #SB_DFFE
set_location ALU.mult.g0_0_0_m2 12 7 5 #SB_LUT4
set_location ALU.i20_mux_i 5 10 0 #SB_LUT4
set_location ALU.g[2] 11 14 2 #SB_DFFE
set_location ALU.d_RNIRAM58[9] 2 7 0 #SB_LUT4
set_location ALU.d_RNIP43E91[7] 13 11 2 #SB_LUT4
set_location ALU.b[8] 14 12 5 #SB_DFFE
set_location clkdiv[19] 1 18 3 #SB_DFF
set_location CONTROL.busState_1_e_0[0] 5 7 5 #SB_DFFE
set_location ALU.mult.g0_0_a3_2_0 1 8 1 #SB_LUT4
set_location ALU.m222 1 7 3 #SB_LUT4
set_location ALU.e_RNIBP7N[7] 6 12 6 #SB_LUT4
set_location ALU.e_RNI3H7N[3] 7 15 2 #SB_LUT4
set_location ALU.d_RNI1MJU2[1] 6 14 2 #SB_LUT4
set_location FTDI.TXshift_RNO[4] 12 5 4 #SB_LUT4
set_location ALU.mult.madd_417 3 9 6 #SB_LUT4
set_location ALU.m270_ns_1 6 6 1 #SB_LUT4
set_location ALU.m16 3 2 3 #SB_LUT4
set_location ALU.e[0] 10 12 0 #SB_DFFE
set_location ALU.d_RNI2AVH7[8] 2 7 7 #SB_LUT4
set_location ALU.d_RNI1LUH3[4] 7 11 5 #SB_LUT4
set_location ALU.c_RNIN38K3[15] 4 4 4 #SB_LUT4
set_location ALU.c_RNI7JQF1[15] 9 11 1 #SB_LUT4
set_location ALU.a_15_m2_ns_1[15] 12 8 0 #SB_LUT4
set_location ALU.mult.madd_213_0 2 12 0 #SB_LUT4
set_location ALU.mult.madd_11 6 14 4 #SB_LUT4
set_location ALU.m272_ns_1 5 10 1 #SB_LUT4
set_location ALU.c_RNI1BC602[12] 10 6 0 #SB_LUT4
set_location ALU.c[10] 11 10 0 #SB_DFFE
set_location ALU.a[13] 11 12 0 #SB_DFFE
set_location clkdiv_RNO[1] 1 16 1 #SB_LUT4
set_location CONTROL.operand2_RNO[0] 12 9 5 #SB_LUT4
set_location ALU.a_RNIV2S0F[10] 1 11 1 #SB_LUT4
set_location ALU.a[8] 11 7 0 #SB_DFFE
set_location FTDI.RXstate_RNO_0[0] 9 2 2 #SB_LUT4
set_location CONTROL.operand2_fast_RNO[0] 11 13 6 #SB_LUT4
set_location ALU.un9_addsub_cry_8_c_RNIKEI5V5 7 16 2 #SB_LUT4
set_location ALU.mult.madd_73 4 16 0 #SB_LUT4
set_location ALU.mult.g0_0_0_m2_1_0 10 7 0 #SB_LUT4
set_location ALU.d_RNIQO6O01[5] 10 4 5 #SB_LUT4
set_location ALU.c_RNISJ8601[11] 6 5 2 #SB_LUT4
set_location ALU.c[5] 10 15 5 #SB_DFFE
set_location ALU.mult.madd_129 2 16 1 #SB_LUT4
set_location ALU.d_RNIEUKR11[0] 6 4 5 #SB_LUT4
set_location clkdiv_RNO[19] 1 18 3 #SB_LUT4
set_location ALU.un9_addsub_cry_5_c_RNI6SCF7 13 7 6 #SB_LUT4
set_location ALU.m681_1 6 1 3 #SB_LUT4
set_location ALU.d_RNIN9H73[5] 3 12 6 #SB_LUT4
set_location ALU.d_RNICFBS3[5] 3 15 2 #SB_LUT4
set_location ALU.d_RNIC4AT9[1] 7 10 2 #SB_LUT4
set_location ALU.mult.madd_41 3 15 6 #SB_LUT4
set_location ALU.mult.madd_354 2 9 1 #SB_LUT4
set_location ALU.m52 4 1 4 #SB_LUT4
set_location ALU.m292_ns_1 1 10 3 #SB_LUT4
set_location ALU.d[8] 9 1 0 #SB_DFFE
set_location ALU.m8 2 5 3 #SB_LUT4
set_location ALU.g_RNI0PML1[5] 6 15 7 #SB_LUT4
set_location ALU.e_RNIGQ8H[4] 7 11 2 #SB_LUT4
set_location ALU.b[13] 10 11 4 #SB_DFFE
set_location clkdiv_cry_c[21] 1 18 5 #SB_CARRY
set_location CONTROL.aluOperation_RNIR872K3[0] 11 6 1 #SB_LUT4
set_location CONTROL.aluOperation_RNIGPL5M3[0] 10 6 3 #SB_LUT4
set_location ALU.un2_addsub_cry_4_c_RNI284VE 6 9 5 #SB_LUT4
set_location ALU.m48 3 1 0 #SB_LUT4
set_location ALU.e_RNI5F2S1[4] 7 11 1 #SB_LUT4
set_location ALU.d_RNI8K807[6] 6 5 5 #SB_LUT4
set_location testWord[23] 2 4 1 #SB_DFFE
set_location testState_RNIB7C[2] 11 5 6 #SB_LUT4
set_location ALU.mult.madd_cry_9_ma 4 16 6 #SB_LUT4
set_location ALU.m42_ns 7 2 1 #SB_LUT4
set_location ALU.d_RNI932E3[3] 7 14 2 #SB_LUT4
set_location ALU.c_RNID7K8N2[11] 12 6 4 #SB_LUT4
set_location ALU.mult.madd_233 2 14 2 #SB_LUT4
set_location ALU.mult.madd_108 5 16 6 #SB_LUT4
set_location ALU.g_RNITF602[8] 5 9 3 #SB_LUT4
set_location ALU.d_RNI9BO713[0] 6 13 0 #SB_LUT4
set_location ALU.d_RNI4TJ02[13] 12 11 3 #SB_LUT4
set_location testWord[2] 2 2 3 #SB_DFFE
set_location FTDI.TXshift_RNO[1] 14 5 5 #SB_LUT4
set_location ALU.mult.madd_axb_13_l_ofx 2 8 5 #SB_LUT4
set_location ALU.mult.madd_412 3 9 5 #SB_LUT4
set_location ALU.mult.madd_319 4 7 7 #SB_LUT4
set_location ALU.g_RNI4TML1[6] 9 15 5 #SB_LUT4
set_location ALU.f[9] 9 8 6 #SB_DFFE
set_location ALU.e[5] 10 14 3 #SB_DFFE
set_location ALU.d_RNI6I9AJ2[5] 10 4 0 #SB_LUT4
set_location ALU.a_15_m2_ns_1[12] 9 3 1 #SB_LUT4
set_location ALU.e_RNIKJH32[7] 3 14 2 #SB_LUT4
set_location ALU.e_RNI08N11[9] 5 11 1 #SB_LUT4
set_location ALU.d_RNII1LGE[5] 6 4 2 #SB_LUT4
set_location ALU.d_RNI6EKGV[6] 5 12 5 #SB_LUT4
set_location ALU.c_RNIMPCHC[15] 12 8 1 #SB_LUT4
set_location clkdiv_RNO[6] 1 16 6 #SB_LUT4
set_location FTDI.RXstate[1] 9 2 4 #SB_DFFN
set_location ALU.un9_addsub_cry_12_c 13 8 4 #SB_CARRY
set_location ALU.mult.madd_axb_8_l_fx 3 16 7 #SB_LUT4
set_location ALU.i13_mux_i 2 4 3 #SB_LUT4
set_location ALU.d_RNIUV3H4[0] 5 6 6 #SB_LUT4
set_location ALU.d_RNIU2HCP[0] 13 5 1 #SB_LUT4
set_location ALU.a[5] 9 13 5 #SB_DFFE
set_location ALU.mult.madd_m3_2 3 13 4 #SB_LUT4
set_location ALU.d_RNITTVL7[0] 6 2 5 #SB_LUT4
set_location TXstart_RNO 11 5 1 #SB_LUT4
set_location ALU.un9_addsub_cry_2_c_RNIE78OE6 11 11 2 #SB_LUT4
set_location ALU.c_RNIFL4K8[11] 6 3 1 #SB_LUT4
set_location ALU.b_RNIVFBD1[15] 6 15 0 #SB_LUT4
set_location ALU.mult.madd_484_0 6 6 5 #SB_LUT4
set_location ALU.mult.madd_29 3 11 1 #SB_LUT4
set_location ALU.d_RNILPR7TQ[6] 14 9 4 #SB_LUT4
set_location ALU.d_RNIHR4B7[3] 7 14 6 #SB_LUT4
set_location ALU.d_RNIC8CO3[9] 5 11 3 #SB_LUT4
set_location ALU.d_RNI81K02[14] 4 4 3 #SB_LUT4
set_location ALU.d_RNI07LK7[4] 2 12 4 #SB_LUT4
set_location ALU.mult.madd_42 3 13 3 #SB_LUT4
set_location ALU.mult.madd_340_0 1 9 6 #SB_LUT4
set_location ALU.mult.madd_275_0 3 13 2 #SB_LUT4
set_location ALU.m57 6 1 5 #SB_LUT4
set_location ALU.d_RNIPER7[5] 10 10 6 #SB_LUT4
set_location FTDI.RXstate_RNO[0] 9 2 3 #SB_LUT4
set_location ALU.mult.madd_64_0 2 12 7 #SB_LUT4
set_location ALU.mult.madd_254 1 9 5 #SB_LUT4
set_location ALU.d_RNIMBENA[6] 14 9 1 #SB_LUT4
set_location ALU.b[14] 10 7 6 #SB_DFFE
set_location CONTROL.aluReadBus_rep2_e 2 5 0 #SB_DFFE
set_location ALU.i85_mux_4_i 1 6 6 #SB_LUT4
set_location ALU.d_RNIC8CA7[3] 7 14 7 #SB_LUT4
set_location ALU.d_RNI60794[8] 2 6 3 #SB_LUT4
set_location ALU.c_RNIJENJ8_0[15] 4 3 2 #SB_LUT4
set_location clkdiv_cry_c[0] 1 16 0 #SB_CARRY
set_location clkdiv_RNO[21] 1 18 5 #SB_LUT4
set_location ALU.mult.madd_cry_13_ma 2 13 3 #SB_LUT4
set_location ALU.mult.madd_366 3 5 2 #SB_LUT4
set_location ALU.mult.madd_349 4 10 5 #SB_LUT4
set_location ALU.mult.g0_0_0_m4 12 7 6 #SB_LUT4
set_location ALU.m55_bm 3 2 4 #SB_LUT4
set_location ALU.d_RNIOVJ78[3] 4 7 6 #SB_LUT4
set_location CONTROL.operand2[1] 12 9 7 #SB_DFF
set_location ALU.m228 4 7 5 #SB_LUT4
set_location ALU.d_RNI3JLT7[1] 5 8 6 #SB_LUT4
set_location testWord[5] 2 2 5 #SB_DFFE
set_location ALU.un9_addsub_cry_4_c_RNIPN95TF 11 11 4 #SB_LUT4
set_location ALU.mult.madd_axb_7 4 15 7 #SB_LUT4
set_location ALU.mult.g2 2 9 2 #SB_LUT4
set_location ALU.c_RNI8597C[15] 11 4 3 #SB_LUT4
set_location ALU.mult.madd_axb_12_l_fx 2 14 5 #SB_LUT4
set_location clkdiv[0] 1 16 0 #SB_DFF
set_location ALU.mult.madd_cry_1_0_s 9 9 1 #SB_LUT4
set_location ALU.m190 5 10 5 #SB_LUT4
set_location ALU.un2_addsub_cry_2_c 6 9 2 #SB_CARRY
set_location ALU.g[10] 12 10 0 #SB_DFFE
set_location ALU.mult.madd_247 2 14 3 #SB_LUT4
set_location ALU.e[11] 10 10 1 #SB_DFFE
set_location ALU.d_RNILTHAE1[1] 6 4 4 #SB_LUT4
set_location ALU.m659 5 7 4 #SB_LUT4
set_location ALU.d_RNIJ1PCQ[1] 7 4 1 #SB_LUT4
set_location ALU.c_RNIKJTS7[15] 4 4 0 #SB_LUT4
set_location ALU.e_RNIOJPU1[5] 10 14 2 #SB_LUT4
set_location ALU.a_15_m2s2 9 3 0 #SB_LUT4
set_location CONTROL.operand2_2_rep2 11 9 3 #SB_DFF
set_location ALU.un2_addsub_cry_5_c_RNIL7IGF 6 9 6 #SB_LUT4
set_location ALU.h[5] 11 11 4 #SB_DFFE
set_location ALU.c_RNIUGCLV[11] 6 4 3 #SB_LUT4
set_location ALU.b_RNIRBBD1[13] 12 11 2 #SB_LUT4
set_location ALU.a_RNI85LF1[13] 12 11 0 #SB_LUT4
set_location ALU.mult.madd_402 3 9 4 #SB_LUT4
set_location ALU.mult.madd_165_0 2 11 7 #SB_LUT4
set_location ALU.e_RNIGBPU1[3] 7 15 5 #SB_LUT4
set_location ALU.c_RNI5V90O2[10] 7 8 1 #SB_LUT4
set_location ALU.f[3] 12 12 3 #SB_DFFE
set_location ALU.m714 6 7 2 #SB_LUT4
set_location ALU.d_RNI7TLM8[0] 6 9 0 #SB_LUT4
set_location FTDI.RXbuffer[0] 1 4 0 #SB_DFFNE
set_location ALU.a[3] 13 15 3 #SB_DFFE
set_location ALU.d_RNI45J9[1] 10 14 6 #SB_LUT4
set_location ALU.d_RNI36KJ21[9] 11 4 6 #SB_LUT4
set_location ALU.d_RNIKAQB7[3] 7 14 5 #SB_LUT4
set_location ALU.c_RNIF549[10] 4 11 1 #SB_LUT4
set_location ALU.un9_addsub_cry_8_c_RNIPV1S8 13 8 1 #SB_LUT4
set_location ALU.d_RNIR8K91[2] 9 11 4 #SB_LUT4
set_location ALU.d_RNI609EE[6] 5 12 4 #SB_LUT4
set_location ALU.c_RNI3FQF1[14] 4 4 1 #SB_LUT4
set_location clkdiv_RNO[17] 1 18 1 #SB_LUT4
set_location ALU.mult.madd_cry_0_0_c 9 9 0 #SB_CARRY
set_location ALU.mult.madd_175 2 12 2 #SB_LUT4
set_location ALU.f[14] 9 8 3 #SB_DFFE
set_location ALU.c_RNI72MIC[15] 10 2 4 #SB_LUT4
set_location CONTROL.operand2_fast[2] 10 13 2 #SB_DFF
set_location CONTROL.operand2_1_rep1_RNO 10 13 1 #SB_LUT4
set_location ALU.d_RNIN01B8[7] 3 15 4 #SB_LUT4
set_location ALU.d_RNIUS558[9] 5 3 7 #SB_LUT4
set_location ALU.d_RNI5R097[6] 4 15 0 #SB_LUT4
set_location ALU.d_RNIQ9LU[14] 11 6 5 #SB_LUT4
set_location ALU.d_RNI3O5R3[6] 9 10 7 #SB_LUT4
set_location CONTROL.operand2_0_rep2 12 9 4 #SB_DFF
set_location ALU.mult.madd_cry_7_c 9 9 7 #SB_CARRY
set_location ALU.mult.madd_99 3 12 1 #SB_LUT4
set_location clkdiv[6] 1 16 6 #SB_DFF
set_location TXbuffer[2] 10 5 2 #SB_DFFE
set_location ALU.m661 3 2 5 #SB_LUT4
set_location ALU.i14_mux_i 4 7 1 #SB_LUT4
set_location ALU.un9_addsub_cry_14_c 13 8 6 #SB_CARRY
set_location ALU.d_RNINF4M7[3] 1 7 5 #SB_LUT4
set_location ALU.d_RNIFE9GA[0] 9 3 7 #SB_LUT4
set_location ALU.d_RNIEICQ63[1] 12 13 6 #SB_LUT4
set_location ALU.un9_addsub_cry_1_c_RNIIS1NM4 11 11 1 #SB_LUT4
set_location ALU.mult.madd_144 1 14 4 #SB_LUT4
set_location ALU.c_RNINJ76G[13] 5 2 1 #SB_LUT4
set_location ALU.c[8] 10 1 0 #SB_DFFE
set_location FTDI.TXshift[6] 12 5 6 #SB_DFFNE
set_location ALU.un2_addsub_cry_10_c 6 10 2 #SB_CARRY
set_location ALU.mult.madd_20 5 14 3 #SB_LUT4
set_location ALU.d_RNID7IK1[3] 7 14 1 #SB_LUT4
set_location ALU.d_RNICH0SD[3] 7 3 0 #SB_LUT4
set_location ALU.d[13] 10 9 5 #SB_DFFE
set_location ALU.a_RNIJQBMC[10] 7 8 2 #SB_LUT4
set_location ALU.d_RNI23RD3[6] 9 15 2 #SB_LUT4
set_location ALU.mult.madd_275 4 10 3 #SB_LUT4
set_location ALU.i23_mux_i 9 5 7 #SB_LUT4
set_location ALU.h[3] 11 11 2 #SB_DFFE
set_location ALU.d_RNI3V2CP1[3] 13 9 2 #SB_LUT4
set_location ALU.mult.madd_295_0 2 13 7 #SB_LUT4
set_location ALU.i53_mux_i 1 10 1 #SB_LUT4
set_location ALU.d_RNICJE9B[8] 2 9 7 #SB_LUT4
set_location FTDI.gap_RNO[1] 11 1 5 #SB_LUT4
set_location FTDI.TXstate_RNO_0[1] 11 2 7 #SB_LUT4
set_location ALU.mult.madd_260 1 7 6 #SB_LUT4
set_location ALU.mult.madd_104 5 16 1 #SB_LUT4
set_location ALU.d_RNI3GPD3[2] 5 14 6 #SB_LUT4
set_location ALU.mult.madd_68 5 16 5 #SB_LUT4
set_location ALU.mult.g0_14 1 11 5 #SB_LUT4
set_location ALU.d_RNIUSVB61[8] 2 6 4 #SB_LUT4
set_location ALU.d_RNILT5T4[7] 3 15 3 #SB_LUT4
set_location ALU.d_RNIH1NE6F[5] 10 4 1 #SB_LUT4
set_location CONTROL.operand2_2_rep1_RNO 11 13 0 #SB_LUT4
set_location ALU.e[8] 10 12 5 #SB_DFFE
set_location ALU.c_RNICVGTG[11] 7 3 5 #SB_LUT4
set_location ALU.c_RNIC6T9M[12] 10 6 5 #SB_LUT4
set_location testWord[30] 3 6 6 #SB_DFFE
set_location FTDI.RXbuffer[6] 1 4 6 #SB_DFFNE
set_location ALU.mult.madd_19 4 12 3 #SB_LUT4
set_location ALU.h[14] 11 6 2 #SB_DFFE
set_location ALU.f_RNI0P6L[1] 11 12 3 #SB_LUT4
set_location ALU.un2_addsub_cry_9_c 6 10 1 #SB_CARRY
set_location ALU.mult.madd_166 1 9 2 #SB_LUT4
set_location ALU.m637 2 5 0 #SB_LUT4
set_location clkdiv_cry_c[11] 1 17 3 #SB_CARRY
set_location clkdiv_RNO[11] 1 17 3 #SB_LUT4
set_location ALU.m89 1 10 4 #SB_LUT4
set_location ALU.f[12] 9 8 2 #SB_DFFE
set_location ALU.mult.madd_68_0_tz 5 15 4 #SB_LUT4
set_location ALU.mult.madd_324 3 7 4 #SB_LUT4
set_location ALU.mult.madd_259 5 8 4 #SB_LUT4
set_location ALU.mult.g0_0_0_N_2L1 6 12 5 #SB_LUT4
set_location ALU.mult.madd_51 4 13 7 #SB_LUT4
set_location ALU.mult.madd_396 3 7 5 #SB_LUT4
set_location ALU.m40 7 2 0 #SB_LUT4
set_location ALU.a_RNIJTBO[14] 11 5 7 #SB_LUT4
set_location CONTROL.aluOperation_e_0[2] 5 1 4 #SB_DFFE
set_location ALU.mult.g0_22 1 13 4 #SB_LUT4
set_location ALU.g[7] 11 14 7 #SB_DFFE
set_location ALU.f_RNIGGOA1[7] 9 12 2 #SB_LUT4
set_location ALU.c_RNIIL3U1[15] 11 9 6 #SB_LUT4
set_location ALU.b[7] 14 12 4 #SB_DFFE
set_location clkdiv[14] 1 17 6 #SB_DFF
set_location testWord[17] 2 4 3 #SB_DFFE
set_location ALU.mult.madd_cry_11_c 9 10 3 #SB_CARRY
set_location ALU.g_RNI70VV1[2] 9 11 6 #SB_LUT4
set_location TXbuffer[4] 10 5 4 #SB_DFFE
set_location ALU.mult.madd_484_24 3 8 3 #SB_LUT4
set_location ALU.m667 3 3 2 #SB_LUT4
set_location ALU.d_RNI870EE[5] 9 3 6 #SB_LUT4
set_location ALU.d_RNI79CK1[9] 5 11 5 #SB_LUT4
set_location ALU.d_RNI21MU3[6] 3 5 5 #SB_LUT4
set_location CONTROL.aluOperation[0] 3 1 2 #SB_DFF
set_location ALU.mult.madd_309 3 11 6 #SB_LUT4
set_location ALU.g_RNIV2CO[2] 10 13 4 #SB_LUT4
set_location ALU.d_RNITBSF7[3] 9 3 5 #SB_LUT4
set_location ALU.a_15_m2_ns_1[5] 10 4 3 #SB_LUT4
set_location ALU.mult.madd_76 3 16 1 #SB_LUT4
set_location ALU.mult.madd_0 5 6 7 #SB_LUT4
set_location ALU.i82_mux_4_i 1 6 2 #SB_LUT4
set_location ALU.d_RNI6B7KD[9] 3 4 6 #SB_LUT4
set_location ALU.c[2] 10 15 2 #SB_DFFE
set_location ALU.mult.g0_7 2 16 6 #SB_LUT4
set_location ALU.i16_mux_i 1 10 5 #SB_LUT4
set_location ALU.d[15] 10 9 4 #SB_DFFE
set_location ALU.d_RNINSF07[5] 5 5 1 #SB_LUT4
set_location ALU.d_RNI83IG7[3] 6 4 6 #SB_LUT4
set_location ALU.a_0[12] 9 6 0 #SB_LUT4
set_location ALU.mult.madd_280 2 13 6 #SB_LUT4
set_location ALU.d[3] 13 12 3 #SB_DFFE
set_location FTDI.TXstate[1] 11 2 2 #SB_DFFN
set_location ALU.d_RNIEDJEA[2] 5 6 3 #SB_LUT4
set_location ALU.d_RNI59DJ3[2] 5 6 2 #SB_LUT4
set_location FTDI.TXstate_RNO[2] 11 2 5 #SB_LUT4
set_location ALU.un9_addsub_cry_9_c_RNI8H83V 7 8 4 #SB_LUT4
set_location ALU.c_RNIMGKHG[13] 13 6 4 #SB_LUT4
set_location testWord[26] 5 10 0 #SB_DFFE
set_location CONTROL.results_e_0[1] 3 2 1 #SB_DFFE
set_location ALU.d_RNILU4U8[12] 5 7 0 #SB_LUT4
set_location ALU.d_RNID01L2[1] 7 10 4 #SB_LUT4
set_location ALU.d_RNIE5EP3[0] 9 15 0 #SB_LUT4
set_location ALU.d_RNI35AS3[3] 7 7 5 #SB_LUT4
set_location ALU.d_RNIPDJU2[0] 6 13 3 #SB_LUT4
set_location ALU.d_RNIIDMS7[3] 3 6 4 #SB_LUT4
set_location ALU.mult.madd_154 4 16 3 #SB_LUT4
set_location ALU.mult.madd_13 7 7 1 #SB_LUT4
set_location ALU.c[12] 11 10 2 #SB_DFFE
set_location ALU.a[11] 12 6 6 #SB_DFFE
set_location ALU.un2_addsub_cry_6_c 6 9 6 #SB_CARRY
set_location ALU.g_RNI0MJN[1] 9 14 4 #SB_LUT4
set_location ALU.f_RNIDCNA1[6] 9 12 4 #SB_LUT4
set_location ALU.d_RNITAM9D[7] 2 15 1 #SB_LUT4
set_location ALU.d_RNILPO64[4] 7 7 4 #SB_LUT4
set_location clkdiv_cry_c[17] 1 18 1 #SB_CARRY
set_location FTDI.TXstate_RNIEFF51[0] 11 3 1 #SB_LUT4
set_location ALU.mult.madd_128_0 5 16 3 #SB_LUT4
set_location ALU.d_RNIKRRR6[4] 4 13 1 #SB_LUT4
set_location ALU.a_RNIPN2P1[10] 6 11 2 #SB_LUT4
set_location ALU.mult.madd_cry_4_c 9 9 4 #SB_CARRY
set_location ALU.m650_ns_1 5 1 5 #SB_LUT4
set_location ALU.d_RNIKTLA7[6] 7 13 5 #SB_LUT4
set_location ALU.d_RNIC1CRK1[4] 13 14 2 #SB_LUT4
set_location ALU.d_RNIHDLLS[3] 5 2 3 #SB_LUT4
set_location ALU.d_RNID35S7[9] 5 3 0 #SB_LUT4
set_location ALU.b[11] 10 7 3 #SB_DFFE
set_location ALU.un9_addsub_cry_4_c 13 7 4 #SB_CARRY
set_location ALU.mult.g0_24 1 13 3 #SB_LUT4
set_location ALU.g_RNII4LL[3] 7 14 0 #SB_LUT4
set_location ALU.g[1] 11 14 1 #SB_DFFE
set_location ALU.c_RNIBAHQ1[12] 4 6 1 #SB_LUT4
set_location ALU.b[9] 10 7 1 #SB_DFFE
set_location ALU.mult.madd_20_0 5 14 2 #SB_LUT4
set_location ALU.d_RNI8DL9U1[3] 5 2 4 #SB_LUT4
set_location FTDI.TXshift_RNO[3] 12 5 3 #SB_LUT4
set_location CONTROL.aluParams_RNO[0] 6 2 6 #SB_LUT4
set_location ALU.mult.madd_484_12 6 8 5 #SB_LUT4
set_location ALU.d_RNIJM067[1] 7 10 0 #SB_LUT4
set_location ALU.d_RNI8MG97[5] 5 12 3 #SB_LUT4
set_location ALU.a_15_m2_ns_1[14] 4 5 0 #SB_LUT4
set_location clkdiv_RNO[0] 1 16 0 #SB_LUT4
set_location CONTROL.operand2_RNO[1] 12 9 7 #SB_LUT4
set_location ALU.a_15_m2_ns_1[3] 13 9 0 #SB_LUT4
set_location ALU.mult.madd_m4 1 15 2 #SB_LUT4
set_location ALU.mult.madd_cry_13_0_c 9 10 5 #SB_CARRY
set_location ALU.f_RNIESEJ[2] 11 13 7 #SB_LUT4
set_location ALU.c[4] 10 15 4 #SB_DFFE
set_location ALU.m262 7 1 7 #SB_LUT4
set_location ALU.mult.madd_8_0 5 15 1 #SB_LUT4
set_location ALU.d_RNIIG1A7[6] 3 12 0 #SB_LUT4
set_location ALU.d_RNIGUO51[6] 7 13 0 #SB_LUT4
set_location ALU.a_0[14] 11 6 2 #SB_LUT4
set_location ALU.mult.madd_279 4 10 4 #SB_LUT4
set_location ALU.g0_7_a3_0_0 5 10 3 #SB_LUT4
set_location ALU.d_RNIF7TU3[4] 5 5 2 #SB_LUT4
set_location ALU.d[9] 10 9 6 #SB_DFFE
set_location testState[2] 4 1 7 #SB_DFF
set_location FTDI.RXstate_RNO[2] 6 1 2 #SB_LUT4
set_location ALU.mult.madd_cry_10_0_s 9 10 2 #SB_LUT4
set_location ALU.b_RNIT7R92[10] 6 11 5 #SB_LUT4
set_location ALU.mult.madd_310_0 4 9 5 #SB_LUT4
set_location ALU.h[8] 9 7 5 #SB_DFFE
set_location testWord[20] 4 7 1 #SB_DFFE
set_location clkdiv_RNO[23] 1 18 7 #SB_LUT4
set_location ALU.mult.madd_407 3 8 7 #SB_LUT4
set_location ALU.d_RNII8R7[2] 10 14 7 #SB_LUT4
set_location ALU.un2_addsub_cry_13_c_RNINVE5K 6 10 6 #SB_LUT4
set_location ALU.mult.madd_109 4 16 5 #SB_LUT4
set_location ALU.mult.madd_cry_3_c 9 9 3 #SB_CARRY
set_location ALU.mult.madd_63 7 16 0 #SB_LUT4
set_location ALU.f_RNIQ5T31[5] 7 12 6 #SB_LUT4
set_location ALU.f[6] 12 12 6 #SB_DFFE
set_location ALU.e[4] 9 14 1 #SB_DFFE
set_location TXstart 11 5 1 #SB_DFF
set_location ALU.i73_mux_i 2 2 5 #SB_LUT4
set_location ALU.c_RNIB9KD11[11] 4 5 2 #SB_LUT4
set_location ALU.c_RNI3FF6H[11] 5 3 3 #SB_LUT4
set_location ALU.b_cnv[0] 4 2 5 #SB_LUT4
set_location GND -1 -1 -1 #GND
set_location ALU.mult.madd_196_0 1 15 1 #SB_LUT4
set_location ALU.d_RNIVULB7[5] 1 7 4 #SB_LUT4
set_location ALU.a[4] 9 13 4 #SB_DFFE
set_location ALU.un9_addsub_cry_8_c 13 8 0 #SB_CARRY
set_location ALU.un2_addsub_cry_4_c 6 9 4 #SB_CARRY
set_location ALU.mult.madd_372_0 3 7 7 #SB_LUT4
set_location ALU.mult.madd_161_0 1 12 5 #SB_LUT4
set_location ALU.c_RNINVVJ11[13] 6 4 1 #SB_LUT4
set_location ALU.mult.madd_484_1 5 5 0 #SB_LUT4
set_location ALU.un9_addsub_cry_4_c_RNIL4N97 13 7 5 #SB_LUT4
set_location ALU.g_cnv[0] 4 2 4 #SB_LUT4
set_location ALU.e_cnv[0] 4 2 1 #SB_LUT4
set_location ALU.d_RNIS6U9F[9] 4 3 5 #SB_LUT4
set_location ALU.c_RNI72MIC_0[15] 9 4 1 #SB_LUT4
set_location ALU.un9_addsub_cry_10_c_RNI9C0K9 13 8 3 #SB_LUT4
set_location ALU.mult.madd_255 5 8 7 #SB_LUT4
set_location ALU.d_RNIJ75U41[6] 14 8 2 #SB_LUT4
set_location clkdiv[21] 1 18 5 #SB_DFF
set_location FTDI.baudAcc[2] 9 2 1 #SB_DFFN
set_location ALU.d_RNIGLRP4[14] 11 6 4 #SB_LUT4
set_location clkdiv_cry_c[1] 1 16 1 #SB_CARRY
set_location CONTROL.aluParams_cnv[0] 3 3 3 #SB_LUT4
set_location CONTROL.aluOperation[5] 12 9 1 #SB_DFF
set_location ALU.mult.madd_367 5 8 0 #SB_LUT4
set_location CONTROL.operand2[2] 10 8 5 #SB_DFF
set_location ALU.mult.madd_237 2 8 6 #SB_LUT4
set_location ALU.d_RNIVRI59[10] 1 11 3 #SB_LUT4
set_location ALU.mult.madd_axb_6 4 14 5 #SB_LUT4
set_location ALU.a_RNILVBO[15] 11 9 5 #SB_LUT4
set_location ALU.g0_7 11 5 4 #SB_LUT4
set_location clkdiv[3] 1 16 3 #SB_DFF
set_location ALU.mult.madd_305 4 11 6 #SB_LUT4
set_location ALU.a_15_m2_ns_1[9] 6 7 6 #SB_LUT4
set_location ALU.mult.madd_299 2 13 1 #SB_LUT4
set_location ALU.g[11] 12 10 1 #SB_DFFE
set_location ALU.c_RNI1PNQ1[10] 7 12 1 #SB_LUT4
set_location ALU.un9_addsub_cry_4_c_RNIUEDLM 13 10 5 #SB_LUT4
set_location ALU.e[12] 10 10 2 #SB_DFFE
set_location ALU.d_RNIGNUR[10] 6 11 4 #SB_LUT4
set_location ALU.d_RNIE4R7[0] 6 13 5 #SB_LUT4
set_location ALU.un2_addsub_cry_3_c 6 9 3 #SB_CARRY
set_location ALU.d_RNIBK80K2[4] 13 14 3 #SB_LUT4
set_location ALU.a_RNICNBO[11] 11 8 0 #SB_LUT4
set_location ALU.m55_am 3 1 4 #SB_LUT4
set_location ALU.un9_addsub_cry_1_c_RNI6TD17 13 7 2 #SB_LUT4
set_location ALU.h[6] 14 9 5 #SB_DFFE
set_location ALU.d_RNITKRB7[5] 6 16 3 #SB_LUT4
set_location ALU.d_RNINQ8VM1[6] 7 5 2 #SB_LUT4
set_location ALU.d_RNITR684[4] 7 11 6 #SB_LUT4
set_location ALU.d_RNI1M3JE[14] 3 3 7 #SB_LUT4
set_location ALU.c_RNI55HKC[11] 12 6 2 #SB_LUT4
set_location FTDI.un3_TX_cry_3_c 13 2 1 #SB_CARRY
set_location ALU.mult.madd_103 2 15 3 #SB_LUT4
set_location ALU.m681 6 1 4 #SB_LUT4
set_location ALU.d_RNI3GJL7[4] 7 11 4 #SB_LUT4
set_location ALU.a_RNIFPBO[12] 9 6 1 #SB_LUT4
set_location ALU.mult.madd_79_0 4 15 5 #SB_LUT4
set_location ALU.f[0] 12 12 0 #SB_DFFE
set_location ALU.m715 11 7 4 #SB_LUT4
set_location ALU.d_RNIIJ8B8[9] 2 10 3 #SB_LUT4
set_location ALU.c_RNIGTNC7[13] 3 6 0 #SB_LUT4
set_location FTDI.RXbuffer[3] 1 2 4 #SB_DFFNE
set_location ALU.g_RNI81NL1[7] 5 13 0 #SB_LUT4
set_location ALU.e_RNI5J7N[4] 9 14 0 #SB_LUT4
set_location ALU.a[2] 9 13 2 #SB_DFFE
set_io TX T13
set_io GPIO11 D4
set_io CLK R9
set_io RX T15
set_io GPIO9 B4
set_io GPIO3 C3
