set_location IN_MUX_bfv_11_14_0_ 11 14 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_11_15_0_ 11 15 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_11_16_0_ 11 16 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_17_16_0_ 17 16 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_10_16_0_ 10 16 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_10_17_0_ 10 17 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_9_12_0_ 9 12 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_12_15_0_ 12 15 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_12_16_0_ 12 16 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_10_12_0_ 10 12 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_10_11_0_ 10 11 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_13_15_0_ 13 15 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_13_16_0_ 13 16 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_13_13_0_ 13 13 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_13_14_0_ 13 14 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_9_11_0_ 9 11 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_10_13_0_ 10 13 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_10_10_0_ 10 10 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_11_11_0_ 11 11 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_15_13_0_ 15 13 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_15_14_0_ 15 14 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_14_15_0_ 14 15 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_14_16_0_ 14 16 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_13_11_0_ 13 11 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_13_12_0_ 13 12 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_12_12_0_ 12 12 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_12_13_0_ 12 13 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_13_0_ 1 13 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_14_0_ 1 14 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_15_0_ 1 15 0 #ICE_CARRY_IN_MUX
set_location CONSTANT_ONE_LUT4 10 30 3 #SB_LUT4
set_location ALU.regsA_result_cry_7_THRU_LUT4_0 9 12 4 #SB_LUT4
set_location ALU.regsA_result_cry_3_0_THRU_LUT4_0 10 12 2 #SB_LUT4
set_location ALU.regsA_result_cry_11_THRU_LUT4_0 13 16 2 #SB_LUT4
set_location ALU.regsA_result_cry_1_THRU_LUT4_0 9 11 1 #SB_LUT4
set_location ALU.regsA_result_cry_5_0_THRU_LUT4_0 10 10 5 #SB_LUT4
set_location ALU.regsA_result_cry_9_THRU_LUT4_0 15 14 1 #SB_LUT4
set_location ALU.regsA_result_cry_13_0_THRU_LUT4_0 13 12 5 #SB_LUT4
set_location ALU.addsub_cry_0_c_THRU_CRY_0 11 14 0 #SB_CARRY
set_location b_9_THRU_LUT4_0 15 16 1 #SB_LUT4
set_location b_8_THRU_LUT4_0 16 13 1 #SB_LUT4
set_location b_7_THRU_LUT4_0 14 14 1 #SB_LUT4
set_location b_6_THRU_LUT4_0 14 13 1 #SB_LUT4
set_location b_5_THRU_LUT4_0 14 12 6 #SB_LUT4
set_location b_4_THRU_LUT4_0 12 11 6 #SB_LUT4
set_location b_3_THRU_LUT4_0 15 10 2 #SB_LUT4
set_location b_2_THRU_LUT4_0 15 10 1 #SB_LUT4
set_location b_15_THRU_LUT4_0 12 8 6 #SB_LUT4
set_location b_14_THRU_LUT4_0 17 14 2 #SB_LUT4
set_location b_13_THRU_LUT4_0 13 10 5 #SB_LUT4
set_location b_12_THRU_LUT4_0 13 10 1 #SB_LUT4
set_location b_11_THRU_LUT4_0 14 9 1 #SB_LUT4
set_location b_10_THRU_LUT4_0 15 16 7 #SB_LUT4
set_location b_1_THRU_LUT4_0 15 10 0 #SB_LUT4
set_location b_0_THRU_LUT4_0 14 12 1 #SB_LUT4
set_location a_fast_4_THRU_LUT4_0 15 11 1 #SB_LUT4
set_location a_fast_2_THRU_LUT4_0 14 11 1 #SB_LUT4
set_location a_fast_10_THRU_LUT4_0 11 8 5 #SB_LUT4
set_location a_9_THRU_LUT4_0 12 10 2 #SB_LUT4
set_location a_8_THRU_LUT4_0 11 10 1 #SB_LUT4
set_location a_7_THRU_LUT4_0 16 12 1 #SB_LUT4
set_location a_6_THRU_LUT4_0 15 12 1 #SB_LUT4
set_location a_5_THRU_LUT4_0 15 11 7 #SB_LUT4
set_location a_4_THRU_LUT4_0 15 15 1 #SB_LUT4
set_location a_3_THRU_LUT4_0 14 11 3 #SB_LUT4
set_location a_2_rep1_THRU_LUT4_0 14 10 3 #SB_LUT4
set_location a_2_THRU_LUT4_0 14 10 1 #SB_LUT4
set_location a_15_THRU_LUT4_0 9 10 6 #SB_LUT4
set_location a_14_THRU_LUT4_0 9 10 1 #SB_LUT4
set_location a_13_THRU_LUT4_0 16 11 3 #SB_LUT4
set_location a_12_THRU_LUT4_0 9 13 1 #SB_LUT4
set_location a_11_THRU_LUT4_0 10 9 3 #SB_LUT4
set_location a_10_THRU_LUT4_0 11 9 1 #SB_LUT4
set_location a_1_THRU_LUT4_0 11 13 1 #SB_LUT4
set_location a_0_THRU_LUT4_0 17 12 0 #SB_LUT4
set_location FTDI.TXstate_fast_RNIP6NA1_3_TXstart_esr_REP_LUT4_0 16 15 1 #SB_LUT4
set_location FTDI.RXbuffer_7_THRU_LUT4_0 15 8 7 #SB_LUT4
set_location FTDI.RXbuffer_6_THRU_LUT4_0 15 9 3 #SB_LUT4
set_location FTDI.RXbuffer_5_THRU_LUT4_0 15 9 1 #SB_LUT4
set_location FTDI.RXbuffer_4_THRU_LUT4_0 15 8 3 #SB_LUT4
set_location FTDI.RXbuffer_3_THRU_LUT4_0 15 8 5 #SB_LUT4
set_location FTDI.RXbuffer_2_THRU_LUT4_0 15 8 2 #SB_LUT4
set_location FTDI.RXbuffer_1_THRU_LUT4_0 15 9 6 #SB_LUT4
set_location FTDI.RXbuffer_0_THRU_LUT4_0 15 9 2 #SB_LUT4
set_location ALU.res_RNO_0[3] 11 14 4 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.1.regsA_result_cry_7_0_c 12 12 7 #SB_CARRY
set_location ALU.addsub_axb_7_l_ofx 12 14 1 #SB_LUT4
set_location clkdiv_cry_c[18] 1 15 2 #SB_CARRY
set_location clkdiv_RNO[16] 1 15 0 #SB_LUT4
set_location FTDI.TXstate_fast_RNIRJI91[3] 10 15 4 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.3.regsA_result_axb_10_l_ofx 14 16 4 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.4.regsA_result_cry_6_0_c_RNIJSBQ2 15 13 6 #SB_LUT4
set_location ALU.res[10] 11 17 4 #SB_DFF
set_location clkdiv_cry_c[5] 1 13 5 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.2.m1_forloop_1.4.regsA_result_cry_2_c_RNIC59KA 10 12 1 #SB_LUT4
set_location a[15] 9 10 6 #SB_DFFE
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.5.regsA_result_cry_6_0_c 11 11 5 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.2.regsA_result_axb_10_l_ofx 14 10 0 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.1.regsA_result_cry_8_0_c 12 13 0 #SB_CARRY
set_location ALU.addsub_cry_10_c 11 15 3 #SB_CARRY
set_location clkdiv[7] 1 13 7 #SB_DFF
set_location FTDI.RXstate_RNIV5TH[0] 16 8 0 #SB_LUT4
set_location FTDI.RXbuffer[2] 15 8 2 #SB_DFFNE
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.5.regsA_result_cry_7_0_c 11 11 6 #SB_CARRY
set_location b[14] 17 14 2 #SB_DFFE
set_location FTDI.gap[0] 17 8 3 #SB_DFFN
set_location ALU.res_RNO_0[4] 11 14 5 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.2.m1_forloop_1.1.regsA_result_cry_5_c_RNI3OEC6 13 13 6 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.5.regsA_result_cry_7_ma 12 9 6 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.5.regsA_result_cry_6_ma 11 12 3 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.5.regsA_result_axb_4_l_ofx 11 10 5 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.2.regsA_result_cry_1_0_c 13 11 0 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.2.regsA_result_cry_10_0_c 13 12 1 #SB_CARRY
set_location FTDI.TXshift[7] 15 17 4 #SB_DFFNE
set_location clkdiv_RNO[15] 1 14 7 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.4.regsA_result_axb_8_l_ofx 16 13 6 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.3.m1_forloop_1.1.regsA_result_cry_10_c_RNIGPFR7 12 16 3 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.2.m1_forloop_1.2.regsA_result_cry_6_c 13 15 4 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.3.regsA_result_cry_7_0_c_RNIG6KR2 14 15 7 #SB_LUT4
set_location op[1] 16 10 3 #SB_DFF
set_location ALU.mult_AdderTree2_forloop2.2.m1_forloop_1.2.regsA_result_cry_9_c_RNIS0IN5 13 16 0 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.4.regsA_result_axb_2_l_ofx 15 12 3 #SB_LUT4
set_location clkdiv_cry_c[8] 1 14 0 #SB_CARRY
set_location FTDI.gap_RNO[2] 17 8 6 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.3.m1_forloop_1.1.regsA_result_cry_1_c 12 15 1 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.6.regsA_result_cry_3_0_c 10 10 2 #SB_CARRY
set_location clkdiv[10] 1 14 2 #SB_DFF
set_location ALU.mult_AdderTree2_forloop2.3.m1_forloop_1.2.regsA_result_cry_4_c_RNO 9 12 5 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.4.regsA_result_cry_5_0_c_RNIFL5M2 15 13 5 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.4.regsA_result_axb_3_l_ofx 15 12 4 #SB_LUT4
set_location ALU.addsub_cry_3_c 11 14 4 #SB_CARRY
set_location FTDI.RXready 16 9 4 #SB_DFFN
set_location ALU.mult_AdderTree2_forloop2.2.m1_forloop_1.1.regsA_result_cry_8_c 13 14 0 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.5.regsA_result_cry_1_0_c 11 11 0 #SB_CARRY
set_location testState_10_2_0_.m7_x0 17 11 5 #SB_LUT4
set_location clkdiv[8] 1 14 0 #SB_DFF
set_location TXbuffer[0] 12 17 1 #SB_DFFE
set_location FTDI.RXbuffer[7] 15 8 7 #SB_DFFNE
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.3.regsA_result_cry_8_0_c 14 15 7 #SB_CARRY
set_location FTDI.baudAcc_RNO[1] 10 14 2 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.2.regsA_result_cry_9_0_c 13 12 0 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.1.regsA_result_cry_12_0_c_RNILCVO1 12 13 5 #SB_LUT4
set_location ALU.overflow_RNO_8 9 10 5 #SB_LUT4
set_location FTDI.TXshift[0] 14 17 4 #SB_DFFNE
set_location ALU.res_RNO_1[2] 12 9 1 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.2.m1_forloop_1.1.regsA_result_cry_6_c_RNIC8SK5 13 13 7 #SB_LUT4
set_location clkdiv_RNO[10] 1 14 2 #SB_LUT4
set_location ALU.overflow_RNO_14 12 14 3 #SB_LUT4
set_location ALU.res_RNO[6] 12 9 0 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.2.m1_forloop_1.1.regsA_result_cry_1_c_RNITU8C6 13 13 2 #SB_LUT4
set_location ALU.addsub_cry_11_c 11 15 4 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.2.m1_forloop_1.1.regsA_result_cry_4_c_RNIOFH56 13 13 5 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.1.regsA_result_cry_6_ma 14 14 2 #SB_LUT4
set_location ALU.addsub_cry_6_c 11 14 7 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.3.regsA_result_cry_7_0_c 14 15 6 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.3.regsA_result_axb_1 15 11 0 #SB_LUT4
set_location clkdiv[13] 1 14 5 #SB_DFF
set_location b[8] 16 13 1 #SB_DFFE
set_location ALU.mult_AdderTree2_forloop2.3.m1_forloop_1.1.regsA_result_cry_6_c 12 15 6 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.2.m1_forloop_1.1.regsA_result_cry_4_c 13 13 4 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.8.regsA_result_cry_1_0_c_RNO 9 10 2 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.7.regsA_result_cry_1_0_c_RNO_0 11 12 7 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.3.regsA_result_cry_4_0_c_RNI4H1V2 14 15 4 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.2.regsA_result_cry_1_0_c_RNO 14 11 2 #SB_LUT4
set_location TXbuffer[7] 12 17 7 #SB_DFFE
set_location ALU.res_RNO_0[10] 11 15 3 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.3.m1_forloop_1.1.regsA_result_cry_8_c 12 16 0 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.3.regsA_result_axb_7_l_ofx 14 14 4 #SB_LUT4
set_location ALU.overflow_RNO_7 12 13 7 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.3.m1_forloop_1.1.regsA_result_cry_0_c 12 15 0 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.2.m1_forloop_1.3.regsA_result_cry_7_c 10 11 5 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.2.m1_forloop_1.2.regsA_result_cry_2_c_RNIS7EJ4 13 15 1 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.2.regsA_result_axb_1 14 11 0 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.1.regsA_result_axb_2_l_ofx 11 12 2 #SB_LUT4
set_location a[9] 12 10 2 #SB_DFFE
set_location ALU.res_RNO_1[5] 12 15 1 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.4.regsA_result_cry_4_ma 16 12 5 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.3.regsA_result_cry_5_0_c 14 15 4 #SB_CARRY
set_location testState_10_2_0_.m7_ns 17 11 6 #SB_LUT4
set_location clkdiv_cry_c[13] 1 14 5 #SB_CARRY
set_location ALU.overflow_RNO_11 12 10 1 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.3.m1_forloop_1.1.regsA_result_cry_0_c_RNO 15 11 5 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.2.m1_forloop_1.1.regsA_result_cry_9_c 13 14 1 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.5.regsA_result_cry_2_0_c 11 11 1 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.3.regsA_result_cry_6_0_c 14 15 5 #SB_CARRY
set_location ALU.res_RNO[1] 11 17 2 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.2.m1_forloop_1.1.regsA_result_cry_1_c 13 13 1 #SB_CARRY
set_location FTDI.TXstate_fast_RNIP6NA1[3] 13 16 3 #SB_LUT4
set_location FTDI.TXstate[0] 9 15 2 #SB_DFFN
set_location FTDI.TXstate_RNO[1] 9 15 7 #SB_LUT4
set_location clkdiv[16] 1 15 0 #SB_DFF
set_location ALU.mult_AdderTree2_forloop2.3.m1_forloop_1.1.regsA_result_cry_7_c_RNIHGF5A 12 16 0 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.2.m1_forloop_1.3.regsA_result_cry_4_c 10 11 2 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.4.regsA_result_cry_4_0_c_RNIBEV13 15 13 4 #SB_LUT4
set_location a_fast[10] 11 8 5 #SB_DFFE
set_location FTDI.TXshift_RNO[7] 15 17 4 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.8.regsA_result_cry_1_0_c 9 11 0 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.1.regsA_result_axb_12_l_ofx 13 10 0 #SB_LUT4
set_location testState_10_2_0_.i3_mux_i_x1 17 15 7 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.4.regsA_result_cry_2_ma 16 12 3 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.3.regsA_result_cry_5_0_c_RNI8O733 14 15 5 #SB_LUT4
set_location ALU.res_RNO_0[13] 11 15 6 #SB_LUT4
set_location ALU.addsub_axb_3_l_ofx 16 14 3 #SB_LUT4
set_location FTDI.RXstate_RNO_0[3] 16 8 1 #SB_LUT4
set_location ALU.overflow_RNO_2 10 11 6 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.2.m1_forloop_1.2.regsA_result_cry_8_c_RNICQET5 13 15 7 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.2.m1_forloop_1.1.regsA_result_cry_13_c 13 14 5 #SB_CARRY
set_location a[6] 15 12 1 #SB_DFFE
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.5.regsA_result_cry_1_0_c_RNI6MAO2 11 11 1 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.4.regsA_result_cry_7_0_c_RNIN3IU2 15 13 7 #SB_LUT4
set_location clkdiv_cry_c[14] 1 14 6 #SB_CARRY
set_location FTDI.RXready_RNIICV7_0 16 10 0 #SB_LUT4
set_location ALU.overflow_RNO_12 15 14 5 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.3.m1_forloop_1.1.regsA_result_cry_6_c_RNIG0NPA 12 15 7 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.2.m1_forloop_1.2.regsA_result_cry_2_c_RNO 16 14 2 #SB_LUT4
set_location TXbuffer_RNO[0] 12 17 1 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.3.m1_forloop_1.1.regsA_result_cry_5_c_RNIM757B 12 15 6 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.4.regsA_result_cry_1_0_c_RNO_0 15 14 7 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.3.regsA_result_cry_6_0_c_RNICVDN2 14 15 6 #SB_LUT4
set_location b[15] 12 8 6 #SB_DFFE
set_location FTDI.gap[1] 17 8 1 #SB_DFFN
set_location FTDI.baudAcc_RNID8HD2[2] 16 15 0 #SB_LUT4
set_location ALU.res_RNO[15] 11 17 7 #SB_LUT4
set_location ALU.res_RNO_0[5] 11 14 6 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.3.regsA_result_cry_5_ma 15 15 6 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.2.regsA_result_axb_12_l_ofx 14 9 7 #SB_LUT4
set_location clkdiv[19] 1 15 3 #SB_DFF
set_location a_fast[2] 14 11 1 #SB_DFFE
set_location FTDI.TXshift[4] 14 17 3 #SB_DFFNE
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.6.regsA_result_axb_5_l_ofx 11 9 4 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.4.regsA_result_cry_9_0_c 15 14 0 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.2.regsA_result_cry_11_ma 14 10 2 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.1.regsA_result_cry_2_0_c 12 12 2 #SB_CARRY
set_location clkdiv_RNO[14] 1 14 6 #SB_LUT4
set_location FTDI.TXshift_RNO[4] 14 17 3 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.2.m1_forloop_1.3.regsA_result_cry_2_c 10 11 0 #SB_CARRY
set_location ALU.res[8] 11 16 4 #SB_DFF
set_location ALU.mult_AdderTree2_forloop2.4.m1_forloop_1.1.regsA_result_cry_4_c 10 16 4 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.3.m1_forloop_1.1.regsA_result_cry_5_c 12 15 5 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.5.regsA_result_axb_2_l_ofx 11 10 3 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.4.regsA_result_cry_6_0_c 15 13 5 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.3.regsA_result_cry_6_ma 15 15 7 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.1.regsA_result_cry_11_ma 13 10 2 #SB_LUT4
set_location clkdiv_RNO[1] 1 13 1 #SB_LUT4
set_location ALU.res[12] 11 17 1 #SB_DFF
set_location ALU.mult_AdderTree2_forloop2.2.m1_forloop_1.2.regsA_result_cry_4_c_RNI8POR5 13 15 3 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.4.regsA_result_cry_1_0_c_RNO 15 12 2 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.1.regsA_result_cry_13_0_c 12 13 5 #SB_CARRY
set_location FTDI.RXstate_RNO_0[0] 16 8 6 #SB_LUT4
set_location ALU.overflow_RNO_1 12 16 4 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.4.m1_forloop_1.1.regsA_result_cry_3_c 10 16 3 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.7.regsA_result_cry_2_0_c 10 13 1 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.3.regsA_result_cry_8_0_c_RNIKDQV2 14 16 0 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.2.regsA_result_cry_10_0_c_RNIHP7H1 13 12 2 #SB_LUT4
set_location a[3] 14 11 3 #SB_DFFE
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.2.regsA_result_cry_3_0_c 13 11 2 #SB_CARRY
set_location clkdiv_RNO[19] 1 15 3 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.5.regsA_result_cry_2_ma 12 10 4 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.4.regsA_result_cry_1_0_c 15 13 0 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.1.regsA_result_cry_0_0_c_RNO 11 13 2 #SB_LUT4
set_location TXbuffer_RNO[3] 13 17 1 #SB_LUT4
set_location FTDI.RXready_RNIICV7 17 9 3 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.3.m1_forloop_1.2.regsA_result_cry_4_c 9 12 0 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.3.regsA_result_axb_3_l_ofx 15 11 4 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.2.regsA_result_cry_6_0_c 13 11 5 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.2.regsA_result_axb_4_l_ofx 14 10 6 #SB_LUT4
set_location ALU.addsub_cry_0_c 11 14 1 #SB_CARRY
set_location testState_10_2_0_.m7_x1 17 11 1 #SB_LUT4
set_location clkdiv[9] 1 14 1 #SB_DFF
set_location TXbuffer[3] 13 17 1 #SB_DFFE
set_location FTDI.RXbuffer[4] 15 8 3 #SB_DFFNE
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.2.regsA_result_cry_8_0_c_RNIDGSS2 13 12 0 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.2.regsA_result_cry_7_ma 14 13 6 #SB_LUT4
set_location clkdiv_cry_c[21] 1 15 5 #SB_CARRY
set_location FTDI.gap[2] 17 8 6 #SB_DFFN
set_location FTDI.baudAcc_RNO[0] 10 14 1 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.1.regsA_result_axb_8_l_ofx 16 13 0 #SB_LUT4
set_location ALU.addsub_cry_9_c 11 15 2 #SB_CARRY
set_location ALU.res_RNO[12] 11 17 1 #SB_LUT4
set_location ALU.res_RNO_0[6] 11 14 7 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.2.m1_forloop_1.1.regsA_result_cry_0_c_RNO 14 12 2 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.7.regsA_result_cry_1_0_c_RNO 9 13 2 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.5.regsA_result_cry_1_0_c_RNO_0 12 10 3 #SB_LUT4
set_location b[1] 15 10 0 #SB_DFFE
set_location FTDI.TXstate_RNIE1MM[2] 9 15 5 #SB_LUT4
set_location FTDI.TXshift[1] 14 17 0 #SB_DFFNE
set_location ALU.res_RNO_1[1] 11 16 2 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.4.regsA_result_cry_8_0_c_RNIRAO23 15 14 0 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.4.regsA_result_axb_9_l_ofx 16 13 7 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.2.regsA_result_cry_12_ma 13 12 6 #SB_LUT4
set_location clkdiv_RNO[13] 1 14 5 #SB_LUT4
set_location FTDI.TXshift_RNO[1] 14 17 0 #SB_LUT4
set_location ALU.overflow_RNO_15 12 14 6 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.2.m1_forloop_1.3.regsA_result_cry_3_c_RNIHID36 10 11 2 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.3.regsA_result_cry_9_0_c 14 16 0 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.2.regsA_result_cry_5_ma 12 9 5 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.1.regsA_result_cry_9_0_c_RNI206J1 12 13 2 #SB_LUT4
set_location ALU.addsub_axb_2_l_ofx 10 14 0 #SB_LUT4
set_location ALU.res_RNO[5] 12 16 5 #SB_LUT4
set_location ALU.res[7] 12 16 7 #SB_DFF
set_location ALU.addsub_cry_14_c 11 15 7 #SB_CARRY
set_location ALU.addsub_axb_5_l_ofx 17 13 3 #SB_LUT4
set_location ALU.addsub_axb_11_l_ofx 13 9 4 #SB_LUT4
set_location clkdiv_RNO[6] 1 13 6 #SB_LUT4
set_location FTDI.RXstate[1] 16 8 3 #SB_DFFN
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.5.regsA_result_cry_5_0_c_RNIMI3P2 11 11 5 #SB_LUT4
set_location ALU.res_RNO_1[12] 10 16 4 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.7.regsA_result_axb_1 10 12 3 #SB_LUT4
set_location ALU.addsub_axb_4_l_ofx 15 15 3 #SB_LUT4
set_location a[0] 17 12 0 #SB_DFFE
set_location FTDI.gap_RNO[0] 17 8 3 #SB_LUT4
set_location FTDI.TXstate_RNO_0[0] 9 15 1 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.1.regsA_result_cry_14_0_c 12 13 6 #SB_CARRY
set_location testState_RNIUI41[2] 17 15 6 #SB_LUT4
set_location clkdiv[12] 1 14 4 #SB_DFF
set_location ALU.overflow 11 16 1 #SB_DFF
set_location ALU.mult_AdderTree2_forloop2.2.m1_forloop_1.2.regsA_result_cry_2_c 13 15 0 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.7.regsA_result_cry_1_0_c_RNI9GUP2 10 13 1 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.1.regsA_result_cry_8_0_c_RNIN2AT1 12 13 1 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.1.regsA_result_cry_6_0_c_RNI18I13 12 12 7 #SB_LUT4
set_location TXbuffer_RNO[6] 12 17 6 #SB_LUT4
set_location FTDI.TXstate_RNO_1[2] 10 15 0 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.2.m1_forloop_1.1.regsA_result_cry_9_c_RNIA92E4 13 14 2 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.2.m1_forloop_1.1.regsA_result_cry_7_c_RNI35L05 13 14 0 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.2.m1_forloop_1.1.regsA_result_cry_7_c 13 13 7 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.5.regsA_result_axb_1 10 14 5 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.1.regsA_result_cry_13_0_c_RNIPJ5D1 12 13 6 #SB_LUT4
set_location TXbuffer[6] 12 17 6 #SB_DFFE
set_location FTDI.RXstate_RNO[0] 16 8 7 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.3.regsA_result_cry_10_0_c 14 16 1 #SB_CARRY
set_location ALU.res[15] 11 17 7 #SB_DFF
set_location ALU.mult_AdderTree2_forloop2.2.m1_forloop_1.1.regsA_result_cry_12_c_RNI195U2 13 14 5 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.7.regsA_result_cry_3_ma 11 12 5 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.6.regsA_result_cry_3_0_c_RNIA1DV2 10 10 3 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.5.regsA_result_axb_7_l_ofx 12 10 0 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.3.regsA_result_cry_9_ma 15 14 2 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.2.regsA_result_axb_13_l_ofx 13 10 4 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.1.regsA_result_cry_4_ma 14 12 5 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.1.regsA_result_cry_0_0_c_RNI9TCO2 12 12 1 #SB_LUT4
set_location clkdiv_cry_c[0] 1 13 0 #SB_CARRY
set_location clkdiv_RNO[21] 1 15 5 #SB_LUT4
set_location ALU.overflow_RNO_6 14 16 3 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.2.m1_forloop_1.2.regsA_result_cry_5_c_RNIH9646 13 15 4 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.6.regsA_result_cry_2_0_c 10 10 1 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.1.regsA_result_axb_10_l_ofx 13 16 4 #SB_LUT4
set_location ALU.addsub_axb_9_l_ofx 12 11 4 #SB_LUT4
set_location b[4] 12 11 6 #SB_DFFE
set_location a_fast[4] 15 11 1 #SB_DFFE
set_location FTDI.TXshift[2] 14 17 1 #SB_DFFNE
set_location ALU.res_RNO_1[4] 15 11 6 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.7.regsA_result_cry_3_0_c 10 13 2 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.3.regsA_result_axb_8_l_ofx 14 14 6 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.1.regsA_result_axb_6_l_ofx 14 13 0 #SB_LUT4
set_location ALU.addsub_cry_7_c 11 15 0 #SB_CARRY
set_location clkdiv_cry_c[10] 1 14 2 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.1.regsA_result_cry_5_ma 14 13 2 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.1.regsA_result_cry_13_ma 17 13 4 #SB_LUT4
set_location a[10] 11 9 1 #SB_DFFE
set_location ALU.res_RNO[0] 11 16 6 #SB_LUT4
set_location ALU.res[2] 12 9 2 #SB_DFF
set_location ALU.mult_AdderTree2_forloop2.3.m1_forloop_1.1.regsA_result_cry_11_c 12 16 3 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.2.m1_forloop_1.3.regsA_result_cry_2_c_RNIHNOEF 10 11 1 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.7.regsA_result_cry_2_ma 16 11 2 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.1.regsA_result_cry_10_0_c 12 13 2 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.1.regsA_result_axb_14_l_ofx 12 14 0 #SB_LUT4
set_location clkdiv[0] 1 13 0 #SB_DFF
set_location FTDI.TXstate[3] 9 15 6 #SB_DFFN
set_location ALU.mult_AdderTree2_forloop2.3.m1_forloop_1.2.regsA_result_cry_6_c 9 12 2 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.3.m1_forloop_1.1.regsA_result_cry_9_c_RNIQQNF9 12 16 2 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.5.regsA_result_axb_5_l_ofx 10 12 7 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.4.regsA_result_cry_3_0_c_RNI77PT2 15 13 3 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.1.regsA_result_cry_9_0_c 12 13 1 #SB_CARRY
set_location ALU.addsub_cry_8_c 11 15 1 #SB_CARRY
set_location ALU.addsub_cry_12_c 11 15 5 #SB_CARRY
set_location op_RNO[1] 16 10 3 #SB_LUT4
set_location b[11] 14 9 1 #SB_DFFE
set_location FTDI.TXstate_RNO[0] 9 15 2 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.2.regsA_result_axb_8_l_ofx 16 13 3 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.1.regsA_result_cry_12_ma 13 10 6 #SB_LUT4
set_location ALU.addsub_cry_5_c 11 14 6 #SB_CARRY
set_location ALU.res_RNO_0[1] 11 14 2 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.5.regsA_result_axb_3_l_ofx 11 10 4 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.1.regsA_result_cry_1_ma 16 11 5 #SB_LUT4
set_location clkdiv[15] 1 14 7 #SB_DFF
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.3.regsA_result_cry_10_0_c_RNIONSH1 14 16 2 #SB_LUT4
set_location ALU.addsub_cry_2_c 11 14 3 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.7.regsA_result_cry_1_0_c 10 13 0 #SB_CARRY
set_location ALU.addsub_cry_15_c 11 16 0 #SB_CARRY
set_location ALU.addsub_axb_12_l_ofx 11 12 1 #SB_LUT4
set_location testState_10_2_0_.i3_mux_i_x0 17 15 1 #SB_LUT4
set_location TXbuffer[5] 12 17 3 #SB_DFFE
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.5.regsA_result_cry_2_0_c_RNIATGS2 11 11 2 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.2.regsA_result_axb_5_l_ofx 14 10 7 #SB_LUT4
set_location clkdiv[23] 1 15 7 #SB_DFF
set_location FTDI.baudAcc[0] 10 14 1 #SB_DFFN
set_location ALU.res_RNO_0[12] 11 15 5 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.5.regsA_result_cry_3_ma 12 10 5 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.4.regsA_result_axb_4_l_ofx 15 12 5 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.1.regsA_result_cry_6_0_c 12 12 6 #SB_CARRY
set_location clkdiv_cry_c[7] 1 13 7 #SB_CARRY
set_location TXbuffer_RNO_0[0] 9 17 3 #SB_LUT4
set_location ALU.overflow_RNO_5 11 11 7 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.2.regsA_result_cry_9_ma 16 13 4 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.2.regsA_result_cry_7_0_c 13 11 6 #SB_CARRY
set_location b[7] 14 14 1 #SB_DFFE
set_location a[7] 16 12 1 #SB_DFFE
set_location ALU.res_RNO_1[7] 12 15 3 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.2.m1_forloop_1.1.regsA_result_cry_0_c 13 13 0 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.4.regsA_result_cry_9_ma 16 14 4 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.4.regsA_result_axb_1 15 12 0 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.2.regsA_result_cry_13_0_c 13 12 4 #SB_CARRY
set_location clkdiv_cry_c[15] 1 14 7 #SB_CARRY
set_location FTDI.RXready_RNIICV7_1 16 9 6 #SB_LUT4
set_location ALU.overflow_RNO_13 14 9 6 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.5.regsA_result_cry_4_ma 12 10 6 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.3.regsA_result_cry_3_ma 16 11 6 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.1.regsA_result_cry_7_ma 16 13 2 #SB_LUT4
set_location ALU.res_RNO[3] 13 16 7 #SB_LUT4
set_location ALU.res[1] 11 17 2 #SB_DFF
set_location ALU.mult_AdderTree2_forloop2.3.m1_forloop_1.1.regsA_result_cry_7_c_RNI8EG3H 10 15 3 #SB_LUT4
set_location testState_10_2_0_.i3_mux_i_ns 17 15 2 #SB_LUT4
set_location clkdiv_RNO[8] 1 14 0 #SB_LUT4
set_location clkdiv[5] 1 13 5 #SB_DFF
set_location FTDI.RXbuffer[0] 15 9 2 #SB_DFFNE
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.5.regsA_result_cry_5_0_c 11 11 4 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.1.regsA_result_cry_12_0_c 12 13 4 #SB_CARRY
set_location FTDI.TXstate_RNO[3] 9 15 6 #SB_LUT4
set_location ALU.res_RNO_1[14] 10 16 6 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.2.m1_forloop_1.3.regsA_result_cry_3_c 10 11 1 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.2.m1_forloop_1.1.regsA_result_cry_2_c 13 13 2 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.3.regsA_result_cry_8_ma 14 14 3 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.3.regsA_result_cry_11_0_c 14 16 2 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.2.regsA_result_cry_4_0_c_RNIRRJT2 13 11 4 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.1.regsA_result_cry_11_0_c_RNIH5PK1 12 13 4 #SB_LUT4
set_location ALU.res_RNO_0[2] 11 14 3 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.4.m1_forloop_1.1.regsA_result_cry_5_c 10 16 5 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.3.m1_forloop_1.1.regsA_result_cry_4_c 12 15 4 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.2.m1_forloop_1.1.regsA_result_cry_10_c_RNIF8AD3 13 14 3 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.5.regsA_result_axb_6_l_ofx 11 10 7 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.3.regsA_result_axb_11_l_ofx 14 16 6 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.1.regsA_result_cry_3_ma 12 11 7 #SB_LUT4
set_location clkdiv[18] 1 15 2 #SB_DFF
set_location FTDI.TXshift[5] 14 17 7 #SB_DFFNE
set_location ALU.mult_AdderTree2_forloop2.2.m1_forloop_1.3.regsA_result_cry_6_c_RNIC3MS5 10 11 5 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.2.m1_forloop_1.2.regsA_result_cry_8_c 13 15 6 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.2.m1_forloop_1.1.regsA_result_cry_5_c 13 13 5 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.2.regsA_result_cry_12_0_c_RNIP7K91 13 12 4 #SB_LUT4
set_location ALU.addsub_axb_8_l_ofx 12 11 1 #SB_LUT4
set_location clkdiv_RNO[17] 1 15 1 #SB_LUT4
set_location FTDI.TXshift_RNO[5] 14 17 7 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.7.regsA_result_axb_3_l_ofx 10 13 4 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.3.regsA_result_cry_2_ma 15 14 3 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.2.regsA_result_cry_11_0_c_RNIL0EL1 13 12 3 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.1.regsA_result_cry_4_0_c_RNIPP5P2 12 12 5 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.3.m1_forloop_1.1.regsA_result_cry_3_c_RNI2M12C 12 15 4 #SB_LUT4
set_location clkdiv_RNO[2] 1 13 2 #SB_LUT4
set_location ALU.res_RNO_0[15] 11 16 0 #SB_LUT4
set_location ALU.res[13] 11 16 7 #SB_DFF
set_location ALU.mult_AdderTree2_forloop2.2.m1_forloop_1.1.regsA_result_cry_2_c_RNI6FM46 13 13 3 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.2.m1_forloop_1.1.regsA_result_cry_11_c_RNIOONL3 13 14 4 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.4.regsA_result_cry_7_ma 16 14 6 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.4.regsA_result_cry_3_0_c 15 13 2 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.3.regsA_result_axb_6_l_ofx 14 13 4 #SB_LUT4
set_location ALU.addsub_cry_13_c 11 15 6 #SB_CARRY
set_location ALU.overflow_RNO_0 10 17 0 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.4.m1_forloop_1.1.regsA_result_cry_6_c 10 16 6 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.2.regsA_result_cry_7_0_c_RNI99MO2 13 11 7 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.2.regsA_result_cry_1_0_c_RNO_0 14 11 4 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.1.regsA_result_cry_1_0_c_RNID4JS2 12 12 2 #SB_LUT4
set_location ALU.addsub_cry_4_c 11 14 5 #SB_CARRY
set_location a[4] 15 15 1 #SB_DFFE
set_location ALU.res_RNO_0[8] 11 15 1 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.3.m1_forloop_1.1.regsA_result_cry_8_c_RNI026D9 12 16 1 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.2.m1_forloop_1.4.regsA_result_cry_3_c 10 12 1 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.5.regsA_result_cry_1_0_c_RNO 11 10 2 #SB_LUT4
set_location clkdiv_cry_c[16] 1 15 0 #SB_CARRY
set_location clkdiv_RNO[18] 1 15 2 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.2.m1_forloop_1.2.regsA_result_cry_5_c 13 15 3 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.4.regsA_result_cry_8_ma 16 14 7 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.1.regsA_result_axb_1_l_ofx 11 13 3 #SB_LUT4
set_location TXbuffer_RNO[2] 12 17 4 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.6.regsA_result_cry_1_0_c_RNI2J0N2 10 10 1 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.3.regsA_result_cry_3_0_c_RNI0ARQ2 14 15 3 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.1.regsA_result_cry_2_ma 16 11 7 #SB_LUT4
set_location testState[0] 17 15 2 #SB_DFF
set_location clkdiv[6] 1 13 6 #SB_DFF
set_location TXbuffer[2] 12 17 4 #SB_DFFE
set_location FTDI.RXbuffer[5] 15 9 1 #SB_DFFNE
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.4.regsA_result_cry_4_0_c 15 13 3 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.3.regsA_result_axb_2_l_ofx 15 11 3 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.1.regsA_result_axb_7_l_ofx 11 12 0 #SB_LUT4
set_location clkdiv_cry_c[20] 1 15 4 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.6.regsA_result_cry_1_0_c_RNO 10 9 2 #SB_LUT4
set_location ALU.res_RNO[13] 11 16 7 #SB_LUT4
set_location ALU.res_RNO_0[7] 11 15 0 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.3.regsA_result_cry_1_0_c_RNI5R443 14 15 1 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.2.regsA_result_cry_2_0_c_RNIJD753 13 11 2 #SB_LUT4
set_location b[0] 14 12 1 #SB_DFFE
set_location FTDI.TXshift[6] 14 17 2 #SB_DFFNE
set_location ALU.mult_AdderTree2_forloop2.2.m1_forloop_1.1.regsA_result_cry_10_c 13 14 2 #SB_CARRY
set_location clkdiv_RNO[12] 1 14 4 #SB_LUT4
set_location FTDI.un3_TX_cry_3_c_inv 17 16 1 #SB_LUT4
set_location FTDI.TXshift_RNO[2] 14 17 1 #SB_LUT4
set_location FTDI.TXstate_fast_RNO[3] 9 15 4 #SB_LUT4
set_location ALU.res_RNO[4] 16 10 6 #SB_LUT4
set_location ALU.res[6] 12 9 0 #SB_DFF
set_location ALU.mult_AdderTree2_forloop2.2.m1_forloop_1.2.regsA_result_cry_7_c_RNI3A1L5 13 15 6 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.2.regsA_result_cry_6_0_c_RNI52GK2 13 11 6 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.1.regsA_result_cry_2_0_c_RNIHBP03 12 12 3 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.1.regsA_result_cry_14_ma 12 14 4 #SB_LUT4
set_location op[0] 17 13 7 #SB_DFF
set_location clkdiv_RNO[7] 1 13 7 #SB_LUT4
set_location FTDI.RXstate[0] 16 8 7 #SB_DFFN
set_location ALU.mult_AdderTree2_forloop2.2.m1_forloop_1.1.regsA_result_cry_3_c 13 13 3 #SB_CARRY
set_location ALU.addsub_axb_6_l_ofx 16 14 1 #SB_LUT4
set_location clkdiv_cry_c[9] 1 14 1 #SB_CARRY
set_location ALU.res_RNO_1[13] 10 16 5 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.3.m1_forloop_1.1.regsA_result_cry_3_c 12 15 3 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.3.regsA_result_cry_1_0_c 14 15 0 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.2.regsA_result_cry_3_ma 14 11 6 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.2.regsA_result_axb_3_l_ofx 14 10 5 #SB_LUT4
set_location ALU.addsub_axb_0_l_ofx 12 14 7 #SB_LUT4
set_location a[1] 11 13 1 #SB_DFFE
set_location FTDI.gap_RNO[1] 17 8 1 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.3.regsA_result_axb_9_l_ofx 15 16 3 #SB_LUT4
set_location clkdiv[11] 1 14 3 #SB_DFF
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.3.regsA_result_cry_4_ma 15 15 5 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.2.regsA_result_axb_2_l_ofx 14 10 4 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.1.regsA_result_cry_10_ma 14 9 2 #SB_LUT4
set_location TXbuffer_RNO[5] 12 17 3 #SB_LUT4
set_location ALU.res_RNO[9] 11 17 3 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.3.m1_forloop_1.2.regsA_result_cry_6_c_RNICICNO 9 12 3 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.4.regsA_result_cry_5_0_c 15 13 4 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.3.regsA_result_cry_4_0_c 14 15 3 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.3.regsA_result_cry_1_0_c_RNO 15 11 2 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.1.regsA_result_cry_8_ma 12 14 2 #SB_LUT4
set_location TXbuffer[1] 13 17 4 #SB_DFFE
set_location FTDI.RXstate_RNO[3] 16 8 2 #SB_LUT4
set_location FTDI.RXbuffer[6] 15 9 3 #SB_DFFNE
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.4.regsA_result_cry_2_0_c_RNI30JP2 15 13 2 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.2.regsA_result_cry_4_0_c 13 11 3 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.2.regsA_result_cry_2_ma 14 11 5 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.2.regsA_result_cry_12_0_c 13 12 3 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.1.regsA_result_cry_7_0_c_RNI5FOL2 12 13 0 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.1.regsA_result_cry_3_0_c_RNILIVK2 12 12 4 #SB_LUT4
set_location FTDI.baudAcc_RNO[2] 10 14 6 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.4.m1_forloop_1.1.regsA_result_cry_7_c 10 16 7 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.2.m1_forloop_1.2.regsA_result_cry_3_c 13 15 1 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.5.regsA_result_cry_3_0_c_RNIE4N03 11 11 3 #SB_LUT4
set_location clkdiv_cry_c[3] 1 13 3 #SB_CARRY
set_location clkdiv_RNO[22] 1 15 6 #SB_LUT4
set_location ALU.res_RNO[10] 11 17 4 #SB_LUT4
set_location ALU.overflow_RNO_9 10 13 5 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.4.regsA_result_cry_8_0_c 15 13 7 #SB_CARRY
set_location ALU.addsub_axb_10_l_ofx 10 14 4 #SB_LUT4
set_location b[3] 15 10 2 #SB_DFFE
set_location FTDI.un3_TX_cry_2_c 17 16 0 #SB_CARRY
set_location FTDI.TXshift[3] 14 17 6 #SB_DFFNE
set_location FTDI.RXready_RNO 16 9 4 #SB_LUT4
set_location ALU.res_RNO_1[3] 13 13 1 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.2.m1_forloop_1.3.regsA_result_cry_4_c_RNIQ2RR5 10 11 3 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.2.m1_forloop_1.2.regsA_result_cry_4_c 13 15 2 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.6.regsA_result_axb_3_l_ofx 11 9 2 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.2.regsA_result_cry_6_ma 14 12 7 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.2.regsA_result_axb_6_l_ofx 14 13 5 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.1.regsA_result_cry_9_ma 16 15 6 #SB_LUT4
set_location clkdiv_cry_c[11] 1 14 3 #SB_CARRY
set_location clkdiv_RNO[11] 1 14 3 #SB_LUT4
set_location FTDI.RXstate_RNI67DS1[0] 16 8 5 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.5.regsA_result_cry_4_0_c 11 11 3 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.4.regsA_result_cry_7_0_c 15 13 6 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.2.regsA_result_cry_9_0_c_RNIODOI2 13 12 1 #SB_LUT4
set_location a[13] 16 11 3 #SB_DFFE
set_location ALU.res_RNO[7] 12 16 7 #SB_LUT4
set_location ALU.res[5] 12 16 5 #SB_DFF
set_location ALU.addsub_axb_14_l_ofx 12 11 0 #SB_LUT4
set_location clkdiv_RNO[4] 1 13 4 #SB_LUT4
set_location clkdiv[1] 1 13 1 #SB_DFF
set_location FTDI.TXstate[2] 10 15 2 #SB_DFFN
set_location FTDI.RXstate[3] 16 8 2 #SB_DFFN
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.6.regsA_result_cry_4_0_c_RNIE8JJ2 10 10 4 #SB_LUT4
set_location b[12] 13 10 1 #SB_DFFE
set_location ALU.res_RNO_1[10] 10 16 2 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.4.regsA_result_cry_3_ma 16 12 4 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.2.regsA_result_cry_13_ma 13 10 3 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.2.regsA_result_axb_11_l_ofx 14 9 4 #SB_LUT4
set_location FTDI.un3_TX_cry_3_c_RNIBAJU 17 16 2 #SB_LUT4
set_location FTDI.TXstate_RNO_0[2] 10 15 1 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.2.regsA_result_cry_4_ma 14 11 7 #SB_LUT4
set_location ALU.addsub_axb_15_l_ofx 9 16 2 #SB_LUT4
set_location clkdiv[14] 1 14 6 #SB_DFF
set_location b[9] 15 16 1 #SB_DFFE
set_location ALU.mult_AdderTree2_forloop2.2.m1_forloop_1.3.regsA_result_cry_5_c_RNI3J846 10 11 4 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.2.regsA_result_cry_8_0_c 13 11 7 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.2.regsA_result_cry_1_0_c_RNIF6113 13 11 1 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.1.regsA_result_cry_0_0_c_RNO_0 13 12 7 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.7.regsA_result_cry_1_0_c_RNIKGQO9 9 12 6 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.6.regsA_result_cry_1_0_c 10 10 0 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.2.regsA_result_cry_5_0_c 13 11 4 #SB_CARRY
set_location TXbuffer[4] 13 17 5 #SB_DFFE
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.4.regsA_result_axb_6_l_ofx 15 12 7 #SB_LUT4
set_location clkdiv[20] 1 15 4 #SB_DFF
set_location FTDI.gap_RNI29TH[2] 16 8 4 #SB_LUT4
set_location ALU.res_RNO_0[11] 11 15 4 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.2.m1_forloop_1.2.regsA_result_cry_10_c 13 16 0 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.8.regsA_result_cry_1_0_c_RNO_0 10 12 6 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.6.regsA_result_cry_4_ma 10 9 7 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.6.regsA_result_axb_4_l_ofx 10 10 6 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.1.regsA_result_cry_4_0_c 12 12 4 #SB_CARRY
set_location clkdiv_cry_c[6] 1 13 6 #SB_CARRY
set_location ALU.overflow_RNO_4 10 13 3 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.2.m1_forloop_1.2.regsA_result_cry_3_c_RNIV8BJ5 13 15 2 #SB_LUT4
set_location b[6] 14 13 1 #SB_DFFE
set_location a[8] 11 10 1 #SB_DFFE
set_location ALU.res_RNO_1[6] 12 15 2 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.3.regsA_result_cry_1_0_c_RNIUA504 14 12 0 #SB_LUT4
set_location clkdiv_cry_c[12] 1 14 4 #SB_CARRY
set_location FTDI.RXready_RNIICV7_2 17 11 4 #SB_LUT4
set_location ALU.overflow_RNO_10 11 12 6 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.2.m1_forloop_1.1.regsA_result_cry_12_c 13 14 4 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.2.regsA_result_cry_2_0_c 13 11 1 #SB_CARRY
set_location ALU.res_RNO[2] 12 9 2 #SB_LUT4
set_location ALU.res[0] 11 16 6 #SB_DFF
set_location ALU.overflow_RNO 11 16 1 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.2.m1_forloop_1.3.regsA_result_cry_6_c 10 11 4 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.2.m1_forloop_1.2.regsA_result_cry_7_c 13 15 5 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.5.regsA_result_cry_5_ma 12 11 5 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.2.regsA_result_cry_10_ma 15 16 6 #SB_LUT4
set_location clkdiv_RNO[9] 1 14 1 #SB_LUT4
set_location clkdiv[2] 1 13 2 #SB_DFF
set_location FTDI.TXstate[1] 9 15 7 #SB_DFFN
set_location FTDI.RXbuffer[1] 15 9 6 #SB_DFFNE
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.8.regsA_result_axb_1 10 12 4 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.3.regsA_result_cry_10_ma 14 16 7 #SB_LUT4
set_location FTDI.TXstate_RNO[2] 10 15 2 #SB_LUT4
set_location ALU.res_RNO_1[15] 10 16 7 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.2.m1_forloop_1.2.regsA_result_cry_10_c_RNI126N4 13 16 1 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.6.regsA_result_cry_2_0_c_RNI6Q6R2 10 10 2 #SB_LUT4
set_location ALU.addsub_axb_1_l_ofx 12 14 5 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.2.m1_forloop_1.1.regsA_result_cry_8_c_RNIJBOQ4 13 14 1 #SB_LUT4
set_location clkdiv[17] 1 15 1 #SB_DFF
set_location ALU.mult_AdderTree2_forloop2.3.m1_forloop_1.1.regsA_result_cry_5_c_RNI073QE 10 14 7 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.4.regsA_result_cry_1_0_c_RNIVOCL2 15 13 1 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.2.regsA_result_cry_11_0_c 13 12 2 #SB_CARRY
set_location FTDI.TXshift_RNO[6] 14 17 2 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.1.regsA_result_cry_0_0_c 12 12 0 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.3.regsA_result_cry_9_0_c_RNIVAML2 14 16 1 #SB_LUT4
set_location clkdiv_RNO[3] 1 13 3 #SB_LUT4
set_location ALU.res_RNO_0[14] 11 15 7 #SB_LUT4
set_location ALU.mult_FirstStep_AB_1[128] 10 13 7 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.6.regsA_result_cry_5_0_c 10 10 4 #SB_CARRY
set_location ALU.overflow_RNO_3 13 14 6 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.3.m1_forloop_1.2.regsA_result_cry_5_c 9 12 1 #SB_CARRY
set_location testState_10_2_0_.N_13_mux_i 17 13 1 #SB_LUT4
set_location a[5] 15 11 7 #SB_DFFE
set_location FTDI.TXstate_fast[3] 9 15 4 #SB_DFFN
set_location ALU.res_RNO_1[9] 10 16 1 #SB_LUT4
set_location ALU.res_RNO_0[9] 11 15 2 #SB_LUT4
set_location clkdiv_cry_c[17] 1 15 1 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.4.regsA_result_axb_5_l_ofx 15 12 6 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.1.regsA_result_axb_13_l_ofx 13 10 7 #SB_LUT4
set_location TXbuffer_RNO[1] 13 17 4 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.1.regsA_result_cry_5_0_c_RNIT0CT2 12 12 6 #SB_LUT4
set_location testState[1] 17 11 6 #SB_DFF
set_location ALU.mult_AdderTree2_forloop2.2.m1_forloop_1.2.regsA_result_cry_9_c 13 15 7 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.2.m1_forloop_1.2.regsA_result_cry_11_c 13 16 1 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.2.regsA_result_cry_8_ma 14 14 5 #SB_LUT4
set_location a_2_rep1 14 10 3 #SB_DFFE
set_location ALU.res_RNO[14] 11 16 3 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.6.regsA_result_axb_2_l_ofx 11 9 0 #SB_LUT4
set_location FTDI.TXshift_RNO[3] 14 17 6 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.2.regsA_result_axb_9_l_ofx 16 13 5 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.1.regsA_result_cry_5_0_c 12 12 5 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.1.regsA_result_axb_3_l_ofx 11 13 5 #SB_LUT4
set_location ALU.res[9] 11 17 3 #SB_DFF
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.3.regsA_result_axb_5_l_ofx 15 15 2 #SB_LUT4
set_location clkdiv_RNO[0] 1 13 0 #SB_LUT4
set_location TXstart_esr 16 15 1 #SB_DFFESR
set_location ALU.mult_AdderTree2_forloop2.2.m1_forloop_1.2.regsA_result_cry_6_c_RNIQPJS5 13 15 5 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.2.m1_forloop_1.1.regsA_result_cry_11_c 13 14 3 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.6.regsA_result_cry_3_ma 10 9 6 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.6.regsA_result_cry_2_ma 10 9 5 #SB_LUT4
set_location a[2] 14 10 1 #SB_DFFE
set_location ALU.mult_AdderTree2_forloop2.4.m1_forloop_1.1.regsA_result_cry_0_c 10 16 0 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.2.m1_forloop_1.3.regsA_result_cry_2_c_RNO 11 12 4 #SB_LUT4
set_location TXbuffer_RNO[4] 13 17 5 #SB_LUT4
set_location ALU.res_RNO[8] 11 16 4 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.3.regsA_result_cry_2_0_c_RNI92BO2 14 15 2 #SB_LUT4
set_location testState[2] 17 13 1 #SB_DFF
set_location FTDI.RXstate_RNO[2] 16 9 1 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.3.regsA_result_cry_3_0_c 14 15 2 #SB_CARRY
set_location clkdiv_cry_c[22] 1 15 6 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.3.m1_forloop_1.2.regsA_result_cry_5_c_RNIKCNNP 9 12 2 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.1.regsA_result_cry_1_0_c 12 12 1 #SB_CARRY
set_location clkdiv_cry_c[2] 1 13 2 #SB_CARRY
set_location clkdiv_RNO[23] 1 15 7 #SB_LUT4
set_location ALU.res_RNO[11] 11 16 5 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.4.regsA_result_axb_7_l_ofx 14 14 7 #SB_LUT4
set_location ALU.addsub_cry_1_c 11 14 2 #SB_CARRY
set_location b[2] 15 10 1 #SB_DFFE
set_location TXstart_esr_RNO 10 15 6 #SB_LUT4
set_location FTDI.TXshift_RNO[0] 14 17 4 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.6.regsA_result_cry_1_0_c_RNO_0 10 9 4 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.3.regsA_result_axb_4_l_ofx 15 15 0 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.2.regsA_result_cry_5_0_c_RNI1R903 13 11 5 #SB_LUT4
set_location a[12] 9 13 1 #SB_DFFE
set_location ALU.res[4] 16 10 6 #SB_DFF
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.4.regsA_result_cry_6_ma 16 12 7 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.3.regsA_result_cry_11_ma 14 16 5 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.1.regsA_result_axb_11_l_ofx 14 9 0 #SB_LUT4
set_location clkdiv_RNO[5] 1 13 5 #SB_LUT4
set_location GND -1 -1 -1 #GND
set_location FTDI.RXstate[2] 16 9 1 #SB_DFFN
set_location ALU.mult_AdderTree2_forloop2.2.m1_forloop_1.4.regsA_result_cry_2_c_RNO 9 12 7 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.5.regsA_result_cry_4_0_c_RNIIBTK2 11 11 4 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.1.regsA_result_cry_11_0_c 12 13 3 #SB_CARRY
set_location b[13] 13 10 5 #SB_DFFE
set_location ALU.res_RNO_1[11] 10 16 3 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.1.regsA_result_cry_3_0_c 12 12 3 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.3.m1_forloop_1.2.regsA_result_cry_7_c 9 12 3 #SB_CARRY
set_location TXbuffer_RNO[7] 12 17 7 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.4.regsA_result_cry_5_ma 16 12 6 #SB_LUT4
set_location FTDI.RXstate_RNO[1] 16 8 3 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.3.m1_forloop_1.1.regsA_result_cry_7_c 12 15 7 #SB_CARRY
set_location clkdiv[21] 1 15 5 #SB_DFF
set_location FTDI.baudAcc[2] 10 14 6 #SB_DFFN
set_location ALU.res[14] 11 16 3 #SB_DFF
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.4.regsA_result_cry_2_0_c 15 13 1 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.3.regsA_result_cry_1_0_c_RNO_0 15 14 6 #SB_LUT4
set_location clkdiv_cry_c[1] 1 13 1 #SB_CARRY
set_location clkdiv_RNO[20] 1 15 4 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.2.m1_forloop_1.1.regsA_result_cry_6_c 13 13 6 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.2.regsA_result_cry_3_0_c_RNINKDP2 13 11 3 #SB_LUT4
set_location b[5] 14 12 6 #SB_DFFE
set_location ALU.mult_AdderTree2_forloop2.4.m1_forloop_1.1.regsA_result_cry_1_c 10 16 1 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.3.m1_forloop_1.1.regsA_result_cry_4_c_RNILOTIB 12 15 5 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.1.regsA_result_axb_5_l_ofx 11 13 7 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.3.m1_forloop_1.1.regsA_result_cry_9_c 12 16 1 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.7.regsA_result_axb_2_l_ofx 9 13 3 #SB_LUT4
set_location testState_RNIJBO[1] 17 13 0 #SB_LUT4
set_location a[11] 10 9 3 #SB_DFFE
set_location ALU.res[3] 13 16 7 #SB_DFF
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.6.regsA_result_cry_5_ma 10 10 7 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.1.regsA_result_axb_4_l_ofx 11 13 6 #SB_LUT4
set_location clkdiv[3] 1 13 3 #SB_DFF
set_location ALU.mult_AdderTree2_forloop2.3.m1_forloop_1.1.regsA_result_cry_2_c 12 15 2 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.2.m1_forloop_1.3.regsA_result_cry_5_c 10 11 3 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.1.regsA_result_cry_10_0_c_RNIDUIG1 12 13 3 #SB_LUT4
set_location op_RNO[0] 17 13 7 #SB_LUT4
set_location b[10] 15 16 7 #SB_DFFE
set_location ALU.mult_AdderTree2_forloop2.3.m1_forloop_1.2.regsA_result_cry_4_c_RNIA939H 9 12 1 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.2.regsA_result_axb_7_l_ofx 14 13 7 #SB_LUT4
set_location TXstart_esr_RNO_0 10 15 5 #SB_LUT4
set_location ALU.res_RNO_0[0] 11 14 1 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.4.m1_forloop_1.1.regsA_result_cry_2_c 10 16 2 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.3.m1_forloop_1.1.regsA_result_cry_10_c 12 16 2 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.3.regsA_result_cry_7_ma 15 14 4 #SB_LUT4
set_location clkdiv_cry_c[19] 1 15 3 #SB_CARRY
set_location FTDI.un3_TX_cry_2_c_inv 16 16 2 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.5.regsA_result_cry_3_0_c 11 11 2 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.1.regsA_result_axb_9_l_ofx 15 16 0 #SB_LUT4
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.5.regsA_result_cry_6_0_c_RNIQP9T2 11 11 6 #SB_LUT4
set_location clkdiv[22] 1 15 6 #SB_DFF
set_location FTDI.baudAcc[1] 10 14 2 #SB_DFFN
set_location ALU.res[11] 11 16 5 #SB_DFF
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.6.regsA_result_cry_4_0_c 10 10 3 #SB_CARRY
set_location clkdiv_cry_c[4] 1 13 4 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.6.regsA_result_axb_1 10 9 0 #SB_LUT4
set_location FTDI.un3_TX_cry_3_c 17 16 1 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.3.regsA_result_cry_2_0_c 14 15 1 #SB_CARRY
set_location ALU.mult_AdderTree2_forloop2.1.m1_forloop_1.7.regsA_result_cry_2_0_c_RNIDN4U2 10 13 2 #SB_LUT4
set_location ALU.addsub_axb_13_l_ofx 17 13 5 #SB_LUT4
set_location a[14] 9 10 1 #SB_DFFE
set_location ALU.mult_AdderTree2_forloop2.2.m1_forloop_1.4.regsA_result_cry_2_c 10 12 0 #SB_CARRY
set_location clkdiv[4] 1 13 4 #SB_DFF
set_location FTDI.RXbuffer[3] 15 8 5 #SB_DFFNE
set_location ALU.mult_AdderTree2_forloop2.2.m1_forloop_1.1.regsA_result_cry_3_c_RNIFV3T5 13 13 4 #SB_LUT4
set_io RX T15
set_io GPIO3 C3
set_io TX T13
set_io GPIO2 C2
set_io GPIO11 D4
set_io GPIO0 D3
set_io CLK R9
set_io GPIO9 B4
set_io GPIO1 C1
